bower_components
node_modules
.pulp-cache
output
generated-docs
.psc-package
.psc*
.purs*
.psa*
.pulp_cache
.vscode
src/Client/media/upload/
configuration.json
old/
fix
output-es/
distcopy/
todo
dce-output/
.cache/
.spago/
dist/
parcel*.log
spago.log