bower_components
node_modules
.pulp-cache
output
generated-docs
.psc-package
.psc*
.purs*
.psa*
.pulp_cache
.vscode
src/Client/media/upload
configuration.json
old/
fix
todo
dce-output/
.cache/
package-lock.json
.spago/
dist/
parcel*.log