<html lang=en>

<head>
    <meta charset=UTF-8 />
    <meta name=viewport content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" icon type=image/ico href=/public/media/favicon.ico />
    <link rel=stylesheet type=text/css href=/public/css/base.css /> {{#nightTime}}
    <link rel=stylesheet type=text/css href=/public/css/night.css /> {{/nightTime}}
    <title>MelanChat (friendly) random webchat</title>
</head>

<body>
    <div class=content>
        <header>
            

            <a href="/" class=logo>
                MelanChat</a>

            <div class=login>
                <a href=/login>Login</a>
            </div>

            
        </header>
        <main>
            {{> content }}
        </main>
        <div id=loading class=loading> </div>
    </div>
    <footer>
        <a href="/">
            <img src=/public/media/logo.png /> </a>
        <ul>
            <li>
                <a href=#>Help</a>
            </li>
            <li>
                <a href=https://github.com/azafeh/melanchat>Source code</a>
            </li>
            <li>
                <a href=#>Become a backer</a>
            </li>
            <li>
                <a href=/login>Login</a>
            </li>
        </ul>
    </footer>
</body>

</html>