<html lang=en>

<head>
    <meta charset=UTF-8 />
    <meta name=viewport content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" icon type=image/ico href=/public/media/favicon.ico />
    <link rel=stylesheet type=text/css href=/public/css/im.css /> {{#nightTime}}
    <link rel=stylesheet type=text/css href=/public/css/night.css /> {{/nightTime}}
    
    <!--courtesy from https://twemoji.twitter.com/-->
    <script src="//twemoji.maxcdn.com/2/twemoji.min.js?11.0"></script>    
    <title>MelanChat - friendly random webchat</title>
</head>

<body>
    <div id=im class=im>

    </div>
    <div id=loading class=loading> </div>

    <script type=text/javascript>
        var initialUser = {{ user}},
            initialSuggestions = {{ suggestions}},
            initialChatting = {{{ chatting }}},
            initialContacts = {{{ contacts }}};
    </script>
    <script type=text/javascript src=/public/javascript/im.bundle.js></script>
</body>

</html>