<html lang=en>

<head>
    <meta charset=UTF-8 />
    <meta name=viewport content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" icon type=image/ico href=/public/media/favicon.ico />
    <link rel=stylesheet type=text/css href=/public/css/landing.css?c=34 /> {{#nightTime}}
    <link rel=stylesheet type=text/css href=/public/css/night.css /> {{/nightTime}}
    <title>MelanChat (friendly) random webchat</title>
</head>

<body>
    <main>
        <div class=landing>
            <div class=green-area>
                <div class=header>

                    <a href="/" class=logo>
                        MelanChat</a>

                    <div class=login>
                        <a href=/login>Login</a>
                    </div>
                </div>
                <div class=heading id=headline>
                    <h1> Friendly. Random. Chat. #melanchat </h1>
                    <h4> Create an account and chat right away with
                        <i>interesting</i> people
                    </h4>
                </div>
                <div class=sign-up>
                    <input type=text id=email placeholder=Email />

                    <input type=password id=password placeholder=Password />
                    <div class="g-recaptcha" data-sitekey="6LeDyE4UAAAAABhlkiT86xpghyJqiHfXdGZGJkB0" id="captcha" data-callback="completeSignUp"
                        data-size="invisible"></div>
                    <input type=button id=create-account value="Create account" />
                </div>
            </div>
            <h2 class=bold> Looking to meet people online but all you get are creeps or bots? Look no further. </h2>
            <div class=blurb>
                <div>
                    <h2> Melanchat is different from other chat websites: </h2>
                    <ul class=ul-vertical>
                        <li>No seedy people! Talk to folks who want to have meaningful conversations</li>
                        <li>Safe, anonymous and ad free </li>
                        <li>Community driven: features are available based on how trusted an user is</li>
                        <li>Random, but in a interesting way: matchs made by ultra fancy algorithms </li>
                        <li>Full of watermelons</li>
                    </ul>
                </div>
                <div>
                    <h2>This is how it works: </h2>
                    <p> New users get a randomized account which needs
                        <b>karma</b> to access features and tools. Karma is earned by making great conversations, and being
                        a good user. Meaning: creeps and unhelpful people are weeded out; interesting folks get more visibility.
                        <br /> Whenever you feel like chatting, the system matches you with a random user- and vice versa, ensuring
                        no one gets ignored.
                        <br/>You decide what to share, who to share it with- want to take a break or delete your account forever?
                        No worries. Your personal data will never be used for spam, harvesting or any shady dealings.
                    </p>
                </div>
            </div>
            <div class=orange-blurb>
                <h2 class="bold padding-gap"> Did you find other chat apps too simple or too quiet? MelanChat makes it so you will never be bored.</h2>
                <div class=blurb>
                    <div>
                        <h2> MelanChat is feature rich: </h2>
                        <ul class=ul-vertical>
                            <li>Send text, image and audio messages</li>
                            <li>Set the level of privacy you are comfortable with</li>
                            <li>Feeling uninspired? Let the app create your profile, or suggest what to say </li>
                            <li>Get matched with people who actually reply</li>
                            <li>Choose to take part in novel chat experiments</li>                            
                        </ul>
                    </div>
                    <div>
                        <h2>...while still feeling cozy and private</h2>
                        <p> From the source code, MelanChat is done with <a href="https://en.wikipedia.org/wiki/Smalltalk">conversation in mind</a>. Talk to people, have actual interactions and make real friendships without fearing the dreaded ASL questions or getting stalked.<br> MelanChat is not affiliated with Google, Facebook, Twitter; nor does it track or spy on you. It is also not a dating website- why upload duck face pictures when you can talk about the <a href="https://en.wikipedia.org/wiki/Dancing_plague_of_1518">dancing plagues in the 16th century?</a>  <br>
                        Did I mention watermelons are everywhere? It can't get better(or healthier) than that. 🍉🍉🍉
                        </p>
                    </div>
                </div>
            </div>
            
            <div class=red-call>
                    <a href="#headline"><h1>It is free! Create an account and start chatting right away #melanchat</h1></a>
                </div>
        </div>
        <div id=loading class=loading> </div>
    </main>
    <footer>
        <a href="/">
            <img src=/public/media/logo.png /> </a>
        <ul>
            <li>
                <a href=#>Help</a>
            </li>
            <li>
                <a href=https://github.com/azafeh/melanchat>Source code</a>
            </li>
            <li>
                <a href=#>Become a backer</a>
            </li>
            <li>

                <a href=/login>Login</a>

            </li>
        </ul>
        
    </footer>
    <script src=https://www.google.com/recaptcha/api.js></script>
    <script type=text/javascript src=/public/javascript/landing.bundle.js></script>
</body>

</html>