<div class=center-box>
    <h1>Login to MelanChat</h1>
    <div class=box-action >
        <input id=email type=text placeholder=Email />
        
        <input id=password type=password placeholder=Password />
        <input type=button value=Login id=login />
    </div>
    <ul>
        <li>
            <a href=/>Don't have an account? Register</a>
        </li>
        <li>
            <a href=/recover>Forgot your password? Recover</a>
        </li>
    </ul>
</div>
<script type=text/javascript src=/public/javascript/login.bundle.js></script>