<div class=center-box>
    <h1>Recover password</h1>
    <div class=box-action>
        <div id="recover-email">
            <input id=email type=text placeholder=Email />
        </div>
        <div id="recover-password">
            <input id=password type=password placeholder=Password />
            <input id=confirm-password type=password placeholder="Confirm password" /> 
               </div>
        <input type=button value=Recover id=recover />
    </div>
</div>
<script type=text/javascript src=/public/javascript/recover.bundle.js></script>