.backer {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

}

.header+.backer {
    padding: 70px 0;
}

.backer p {
    display: block;
    word-wrap: break-word;
    max-width: 45em;
    margin: 5px 0px;
}

.backer h3 {
    margin-top: 40px;
    font-family: var(--heading-font);
}

h3.initial {
    margin-top: initial;

}

h3.bottom {
    margin-bottom: 10px;
}

.svg-patreon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    vertical-align: text-top;
}

.patreon-button {
    color: rgb(238, 238, 238);
    border-radius: 25px;
    padding: 5px 20px;
    background: rgb(255, 66, 77)
}

@media (max-width:1279px) {
    .backer {
        max-width: 100%;
        padding: 10px
    }

    .backer strong {
        text-align: center;
    }
}