:root {
    --baby-powder: #FBFEFB;
    --dark-text-color: #1B1F3B;
    --heading-font: Alef, serif;
    --text-font: Inter, sans-serif;
    --merochat-red: #DB5A5D;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: var(--baby-powder);
    color: var(--dark-text-color);
    margin: 0;
    min-height: 100%;
    font-family: var(--text-font);
    font-size: 18px;
    line-height: 1.51857143;
    display: grid;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

a,
input[type="button"] {
    cursor: pointer;
}

.error-message {
    display: none;
    font-style: italic;
}

.input.error+.error-message {
    display: block;
}

.header {
    margin-right: 90px;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.menu-merochat {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    max-height: 402px;
}

.menu {
    display: flex;
    align-items: center;
    align-self: flex-end;

}

.menu a {
    margin-left: 20px;
    color: var(--dark-text-color);
}

.login-link {
    background-color: var(--merochat-red);
    border-radius: 10px;
    padding: 5px 10px;
    color: var(--baby-powder) !important;
}

.menu a:hover {
    color: var(--merochat-red);
}

.theme-switcher {
    margin-left: 20px
}

.merochat {
    margin-top: auto;
}

h1 {
    font-family: var(--heading-font);
}

svg {
    stroke: none;
    cursor: initial;
}

.big-logo svg {
    width: 447px;
    height: 400px;
}

.name,
.name-again {
    font-size: 4em;

    margin: 0;
    padding: 0;
}

.name {
    color: var(--merochat-red);
}

.tagline {
    background-color: var(--merochat-red);
    padding: 0px 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-family: var(--heading-font);
    color: var(--baby-powder);
    font-size: 1.5em;
}


.footer {
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-self: center;
}

.footer a {
    padding: 0 20px;
}

.forgot-sign-up .or {
    padding: 0 20px;
}

.footer a,
.forgot-sign-up a {
    font-weight: bold;
    color: var(--dark-text-color) !important;
}

.pastel-area {
    background-color: #EFE5DC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
    width: 100%;
}

.forgot-sign-up {
    margin-top: 30px;
}

.sign-up-form {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    padding-right: 90px;
}

.sign-up-form input {
    font-family: var(--dark-text-color);
    padding: 10px;
    font-size: 1em;
    width: 500px;
    border-radius: 10px;
    border: 1px solid var(--merochat-red);
    margin: 8px 0;
}

.sign-up-form input[type=text],
.sign-up-form input[type=password] {
    color: var(--merochat-red);
    background-color: var(--baby-powder);
}

.sign-up-form input[type=button] {
    color: var(--baby-powder);
    background-color: var(--merochat-red);
    font-weight: bold;
    outline: 0;
    padding: 10px 0;
    width: 100%;
}

.sign-up-form a {
    color: var(--merochat-red);
    align-self: flex-end;
    font-weight: bold;
}


@media (max-width:1279px) {
    .pastel-area {
        margin: 20px 0;
        padding: 20px;
        flex-direction: column;
        width: auto;
    }

    .forgot-sign-up {
        text-align: center;
    }

    .forgot-sign-up .or {
       display: block;
    }

    .sign-up-form {
        padding: 20px 0;
        align-self: baseline;
        width: 100%;
    }

    .big-logo {
        padding: 20px;
        align-self: center;
    }

    .big-logo svg {
        width: 147px;
        height: 100px;
    }

    .sign-up-form input {
        width: 90%;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .sign-up-form input[type=button] {
        width: 97%;
    }

    .header {
        text-align: center;
        padding: 0;
        flex-direction: column;
        margin-right: 0;
    }

    .menu {
        align-self: center;
    }

    .menu a {
        margin: 0;
        margin-right: 10px;
    }

    .merochat {
        margin-top: 20px;
    }

    .menu-merochat {
        margin-left: 0;
    }
}