@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@500&display=swap');

:root {
    --baby-powder: #FBFEFB;
    --dark-text-color: #1B1F3B;
    --heading-font: "Alef", serif;
    --text-font: "Inter", sans-serif;
    --merochat-red: #DB5A5D;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: var(--text-font);
    font-size: 18px;
    background: #262626;
    line-height: 1.51857143;
    display: grid;
    grid-template-rows: 1fr auto;
}

.hidden {
    display: none;
}
