html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: "Verdana", "sans serif";
    font-size: 18px;
    background: #262626;
    line-height: 1.51857143;
    display: grid;
    grid-template-rows: 1fr auto;
}

label {
    display: block
}

h1, h2 {
    font-weight: bold;
}

h3, h4 {
    color: white;
    font-weight: bold
}

img {
    max-width: 100%;
}

a {
    color: hsl(145, 80%, 28%);
    text-decoration: none;
    cursor: pointer;
}

input {
    border-radius: 3px;
}

input[type="submit"], input[type="button"] {
    cursor: pointer;
    font-weight: bold;
}

input, textarea {
    border-radius: 3px;
    color: rgb(238, 238, 238);
    background: transparent;
    font-family: Verdana, sans-serif;
    font-size: inherit;
}

ul li {
    display: inline;
}

.hidden {
    display: none;
}

.smaller {
    font-size: smaller;
}

strong {
    font-weight: bold;
}

svg {
    stroke: rgb(238, 238, 238);
    fill: rgb(238, 238, 238);
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 10px;
}

.footer-menu li {
    margin: 0 30px;
}

@media (max-width:1199px) {
    .footer-menu {
        margin-left: 0px;
        padding-left: 0;
    }
}

.footer-menu a {
    font-family: Verdana, sans-serif;
    color: #b5b7b6;
    font-weight: normal !important;
}

select {
    font: inherit
}

select option {
    background-color: #262626;
    color: rgb(238, 238, 238)
}

.success-message {
    display: none;
}

.success .success-message {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.request-error-message {
    visibility: visible;
    margin-top: 5px;
    display: inline-block;
    color: red;
}

.input {
    margin-bottom: 10px;
}

.input.error {
    border-color: red;
}

.input.error input {
    color: red
}

.error-message {
    color: red;
    visibility: hidden;
}

.input.error .error-message {
    visibility: visible;
}

.error-message.request-error-message {
    visibility: visible;
}

@media (max-width:1279px) {
    .error-message {
        display: none;
    }
    .input.error .error-message {
        display: inline-block;
    }
    .form-up {
        width: 90%;
    }
    .form-up label {
        align-self: start;
    }
    .input {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }
    .request-error-message {
        text-align: center;
        display: inline-block;
    }
}

