#chat-experiments {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50em;
}

.experiment {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.experiment-description {
    max-width: 18em;
}

.new-throw {
    display: flex;
    flex-direction: column;
}

.new-throw .loading {
    align-self: flex-end;
}

.new-throw .svg-32 {
    align-self: center;
    margin-top: 20px;
}

.paper-thrown-entry {
    display: flex;
    justify-content: space-between;
    width: 534px;
}

#chat-experiments .green-button {
    width: max-content;
    margin: 0;
    align-self: flex-end;
}

.flying-by {
    display: flex;
    flex-direction: column;
    width: 534px;
}

.word-chain {
    margin: 23px 25px;
}

.paper-thrown-message {
    max-width: 80%;
    font-style: italic;
}

#chat-experiments .modal-section {
    width: 850px;
}

.paper-input {
    margin: 10px 0;
    width: 500px;
    height: 22px;
    padding: 10px 20px;
    padding-bottom: 12px;
    resize: none;
    cursor: text;
}

.paper-waiting {
    align-self: flex-end;
}

.choice-option label {
    display: inline;

}

.choices {
    margin-bottom: 15px;
}

.matches a {
    color: var(--merochat-green);
}

.word-chain .green-button {
    font-weight: bold;
}

#chat-experiments .modal-part {
    margin-bottom: 40px;
}

.paper-flown-message {
    word-wrap: break-word;
    overflow: auto;
    font-style: italic;
}

.paper-catch {
    color: var(--merochat-green);
    margin-left: 10px;
    margin-bottom: 15px;
}

.paper-catch:last-child {
    font-weight: bold;
}

.paper-thrown-options {
    display: flex;
    justify-content: flex-end;
}

@media (max-width:1279px) {
    #chat-experiments {
        width: 100%;
    }

    .experiment-description {
        width: auto;
        max-width: unset;
    }

    #chat-experiments .modal-section {
        width: auto;
    }

    .word-chain {
        margin-left: 0;
    }

    .paper-input {
        width: auto;
    }

    .paper-thrown-entry,
    .flying-by {
        width: calc(100vw - 47px);
    }
}