#chat-experiments {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50em;
}

.experiment {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.experiment-description {
    max-width: 18em;
}

#chat-experiments .green-button {
    width: max-content;
    margin: 0;
    align-self: flex-end;
}

.word-chain {
    margin: 23px 25px;
}

#chat-experiments .modal-section {
    width: 850px;
}

.choice-option label {
    display: inline;

}

.choices {
    margin-bottom: 15px;
}

.matches a {
    color: var(--im-merochat-green);
}

.word-chain .green-button {
    font-weight: bold;
}

#chat-experiments .modal-part {
    margin-bottom: 40px;
}

@media (max-width:1279px) {
    #chat-experiments {
        width: 100%;
    }

    .experiment-description {
        width: auto;
        max-width: unset;
    }
}