.chat-experiments {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50em;
}

.experiment {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.experiment-description {
    max-width: 18em;
}

.chat-experiments .green-button {
    width: max-content;
    margin: 0;
    align-self: flex-end;
}

.impersonation {
    margin: 10px 0;
}

.impersonation-header {
    border-bottom: 1px solid #373737;
    padding: 0px 5px;
    display: flex;
    width: 25em;
    justify-content: space-between;
    margin-bottom: 15px;
    cursor: pointer;
    color: hsl(145, 80%, 28%);
}

.header-plus {
    font-size: 1.1em;
    font-weight: bold;
}

.impersonation .buttons {
    margin: 30px 0 15px 0;
    align-items: center;
}

@media (max-width:1279px) {
    .chat-experiments {
        width: 100%;
    }

    .impersonation-header,
    .experiment-description {
        width: auto;
        max-width: unset;
    }
}