@import url('https://fonts.googleapis.com/css?family=Flamenco');
body {
      background-color: #262626;
      display: flex;
      color: rgb(238, 238, 238);
      flex-direction: column;
}

.error-page {
      margin-top: 40px;
      text-align: center;
      line-height: 1;
      color: #db5a5d;
}

.error-page-code {
      font-size: 11em;
}

.reason {
      margin: 0 auto;
      margin-top: 30px;
      width: 45em;
      color: rgb(238, 238, 238, 0.8);
}

.form-up label {
      color: #b5b7b6;
}

.header {
      display: flex;
      justify-content: center;
      padding: 30px 0;
}

a:hover, input[type=button]:hover {
      color: #ff7b88
}

.green-box {
      margin-bottom: auto !important;
}

.green-area {
      align-self: center;
      display: flex;
      width: max-content;
      flex-direction: column;
      align-items: center;
      background: rgba(28, 58, 41, 0.4);
      justify-self: center;
      padding: 30px 30px 70px;
      margin-bottom: 100px;
}

.form-up input {
      height: 60px;
      display: block;
      padding: 20px;
      border: 1px solid #b5b7b6;
      margin-top: 10px;
}

.form-up input[type=button], .form-up input[type=submit] {
      font-weight: bolder;
      border: none;
      line-height: 1;
      border-radius: 5px;
      outline: none;
      background: #db5a5d;
      color: white;
}

h2 {
      color: #db5a5d;
      text-align: center;
}

.question-link, .question-or {
      color: #b5b7b6;
}

.question-or {
      margin: 15px 0;
      display: flex;
      align-items: center;
}

.forgot {
      margin-top: 25px;
      display: inline-block;
}

.hr-or {
      height: 0px;
}

.terms {
      text-align: left;
      max-width: 800px;
      align-self: center;
}

h1, h2 {
      font-family: Flamenco;
}

.terms h1 {
      text-align: center;
}

.terms li {
      display: block;
}

.form-up input[type=button], .form-up input[type=submit] {
      font-size: 1em;
      line-height: 0;
}

footer {
      font-size:0.9em;
}

@media (max-width:1279px) {
      .ext-heading {
            font-size: 1.4em;
      }
      .footer-menu {
            display: inline-grid;
      }
      .hr-or {
            width: 120px;
            margin: 0 10px;
      }
      .form-up {
            display: flex;
            flex-direction: column;
            align-items: center;
      }
      .green-area {
            padding: 20px 0px 70px;
            width: 100%;
      }
      .form-up input {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 15px;
            height: 20px;
      }
      h2 {
            font-size: 1.3em;
      }
}

@media (min-width:1280px) {
      .ext-heading {
            font-size: 1.8em;
            line-height: 0;
      }
      .hr-or {
            width: 320px;
            margin: 0 10px;
      }
      .form-up input {
            width: 430px;
            height: 30px;
      }
}

@media (min-width:1920px) {
      .ext-heading {
            font-size: 2em;
            line-height: 0;
      }
      .form-up input {
            width: 570px;
      }
}