#feedback-root div {
      padding-bottom: 20px;
}

#feedback-root input[type=file].modal-input {
      height: auto;
}

.comments {
      padding: 15px;
      resize: none;
      outline: none;
      height: 180px;
}

.comments, #feedback-root .modal-input  {
      width: 600px;
}