.internal-help {
    max-width: 50em;
}

.internal-help .hide-internal {
    display: none !important;
}

.help, .terms {
    margin: 30px 0;
}

h1 {
    font-family: verdana, sans-serif;
    font-size: 1.7em;
    margin-bottom: 50px;
}

h2 {
    font-family: Verdana, sans-serif;
    text-align: left;
    color: rgb(238, 238, 238);
    font-size: 1em;
    margin: 5px 0px;
    margin-top: 30px;
}

p {
    margin-top: 0;
}

p a {
    font-weight: bold;
}

ol {
    padding: 0;
    list-style-position: inside;
}

ul.bulleted {
    padding: 0;
    list-style: disc inside;
}

.bulleted li {
    display: list-item !important;
}

ul li {
    padding: 7px 0;
}

p a:hover, ul li a {
    color: rgb(238, 238, 238);
    font-weight: bold;
}

ul li a:hover {
    color: hsl(145, 80%, 28%);
}

.external-help {
    margin: 40px auto;
    width: 70em;
    display: flex;
}

.external-help .modal-menu .entry {
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.external-help .modal-menu .entry.selected {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #373737;
}

.external-help .modal-menu {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    flex-flow: column;
    margin-right: 70px;
    border-right: 1px solid #373737;
}

.external-help .help, .external-help .terms, .external-help .faq .bulleted:first-of-type, .no-padding {
    margin-top: 0;
    padding-top: 0;
}

@media (max-width:1279px) {
    .external-help {
        flex-direction: column;
        max-width: 100%;
        width: auto;
        padding: 10px;
        margin:5px auto;
    }

    .external-help .modal-menu {
        position: unset;
        margin-right: 0;
        align-items: center;
        margin-bottom: 30px;
        color: rgb(14, 129, 62);
    }

    .entry {
        text-align: center;
        width: 100%;
    }

    .internal-help {
        max-width: 100%;
        padding: 10px
    }
}