body {
    margin: 0;
    font-family: "Verdana", "sans serif";
    font-size: 18px;
    line-height: 1.51857143;
    height: 100%;
    color: rgb(238, 238, 238)
}

.description-message, .profile-description, .profile-edition-description {
    font-size: 1.12em;
}

.profile-description p, .description-message p {
    text-align: justify;
    hyphens: auto;
}

.profile-description p:first-of-type, .description-message p:first-of-type {
    margin-top: 0px;
}

.profile-description p:last-of-type, .description-message p:last-of-type {
    margin-bottom: 0px;
}

.im {
    display: grid;
    grid-template-columns: 25% 75%;
    overflow-y: auto;
    scrollbar-width: thin;
}

.left-box {
    scrollbar-width: thin;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.chat-box {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #262626;
    position: relative;
}

.no-connection {
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    background: #262626;
    font-weight: bold;
    color: red;
    display: none;
    align-items: center;
    justify-content: center;
}

.show-profile-icon {
    align-self: center;
    width: 13px;
    height: 4px;
    align-self: center;
    margin-bottom: -4px;
}

.flexed {
    display: flex;
}

.side-suggestions-container {
    background: #2d2d2d;
}

.side-suggestion {
    display: flex;
    justify-content: center;
    background: #213027;
    font-weight: bold;
    padding: 5px 6px;
    align-items: center;
    border-bottom: 1px solid #4E4E4E;
    border-top: 1px solid #4E4E4E;
}

.no-connection.flexed~.profile-contact, .no-connection.flexed~.suggestion {
    margin-top: 50px;
}

.send-box {
    display: flex;
    flex-flow: column;
    margin: 0px 20px 10px 20px;
    position: relative;
    /* min-height: 130px; */
    justify-content: end;
}

.svg-8 {
    width: 8px;
    height: 8px;
    font-size: 0.5em;
}

.svg-other {
    font-size: 1.1em;
    stroke-width: 5;
    margin: 4px 10px 0 10px  !important;
    align-self: baseline;
}

.profile-name {
    font-family: Verdana, "sans serif";
    font-size: 1.12em;
    margin: 0;
}

.profile-asl {
    font-size: 1.12em;
}

.profile-asl div {
    margin-right: 10px;
}

.profile-asl div:last-child {
    margin-right: 0;
}

.svg-more {
    cursor: pointer;
}

.avatar-message {
    width: 54px;
    height: 54px;
    border-radius: 100%;
}

.no-avatar-message .avatar-message {
    visibility: hidden;
}

.svg-back-suggestions {
    width: 25px;
    height: 25px;
    stroke: none;

    fill: #b9c658;
    margin-right: 15px;
}

.back-side-suggestion {
    padding: 19px 6px;
    cursor: pointer;
    color: #b9c658
}

.back-suggestions {
    font-size: 1.2em;
}

.avatar-contact-list-div {
    min-width: 54px;
    min-height: 54px;
    align-self: center;
}

.avatar-contact-list, .avatar-settings {
    width: 54px;
    height: 54px;
    border-radius: 100%;
}

.avatar-settings, .sender-message .avatar-message, .avatar-profile-edition {
    background: #4d4d51
}

.avatar-profile, .avatar-profile-edition {
    border-radius: 100%;
}

.profile-contact .avatar-profile {
    width: 54px;
    height: 54px;
}

.suggestion.avatar-profile {
    background: #469bc5;
}

.hidden {
    display: none !important;
}

.settings, .contact {
    display: flex;
}

.settings {
    background-color: #212120;
    position: relative;
    align-items: center;
    padding: 10px 5px;
    border-bottom: #161616
}

.contact {
    align-items: baseline;
    cursor: pointer;
    padding: 9px 6px;
}

.settings-name {
    padding: 5px 20px;
}

.contact-profile {
    padding: 5px 10px 5px 10px;
}

.contact-name {
    font-size: 1.1em;
}

.settings-name {
    margin-right: auto;
}

.karma-number {
    font-weight: bold;
}

.karma-text {
    color: rgb(238, 238, 238, 0.8)
}

.contact-list-last-message {
    font-size: 1.1em;
    color: rgb(238, 238, 238, 0.8)
}

.contact-name, .contact-list-last-message>p {
    white-space: nowrap;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile {
    display: flex;
    text-align: center;
    flex-flow: column wrap;
}

.profile-info, .profile-info-edition {
    display: flex;
    flex-flow: column;
}

.suggestion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggestion.new {
    background: url('/client/media/suggestions.png');
    border-radius: 15px;
    flex-grow: 1;
}

.suggestion.new~.message-history {
    display: none;
}

.svg-back-profile {

    stroke:none;
    width: 20px;
    height: 20px;
}

#full-profile-context-menu, .svg-back-profile {
    padding: 10px;
}

.suggestion.old {
    background: #373737;
    padding: 5px 0px 43px 0px;
    overflow: hidden;
    overflow-y: auto;
}

.suggestion.new .duller {
    color: rgb(238, 238, 238);
}

.suggestion.new .span-info {
    font-weight: bold;
}

.profile-contact {
    background: #373737;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    cursor: pointer;
}

.profile-contact-top {
    display: flex;
    align-items: center;
}

.profile-contact-deets {
    display: flex;
    flex-direction: column;
}

.profile-contact-header {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    flex-grow: 1
}

.profile-unavailable-header {
    display: flex;
    width: 100%;
    padding-left: 30px;
    align-items: baseline;
}

.unavailable-message {
    padding-left: 5px;
}

.profile-contact-header h1 {
    margin: 5px 0px
}

.skip {
    align-self: center;
}

.message-box {
    margin: 20px 0px;
}

.message-content {
    padding: 0 15px;
    position: relative;
    background: #1b3a28;
    border-radius: 5px;
}

.message-content::before {
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    width: 20px;
}

.no-avatar-message .message-content::before {
    display: none;
}

.recipient-message .message-content {
    background-color: #373737;
    margin-left: 20px;
}

.sender-message .message-content {
    background-color: #1b3a28;
    margin-right: 20px;
}

.recipient-message .message-content::before {
    background-color: #373737;
    top: 0px;
    left: -7px;
    transform: rotate( 50deg) skew( -38deg);
}

.sender-message .message-content::before {
    background-color: #1b3a28;
    right: -5px;
    transform: rotate( 0deg) skew( -35deg);
}

.message-history {
    display: flex;
    flex-grow: 1;
    scrollbar-width: thin;
    flex-flow: column;
    justify-content: flex-end;
    position: relative;
}

.message-history-wrapper {
    overflow-y: auto;
    top: 10px;
    bottom: 15px;
    right: 20px;
    scrollbar-width: thin;
    left: 20px;
    position: absolute;
    display: flex;
    flex-flow: column;
    /* justify-content: end; */
}

.message-history-wrapper> :first-child {
    margin-top: auto !important;
}

.message {
    flex-direction: column;
    display: flex;
    margin: 2px;
    /* align-items: center; */
}

.message.recipient-message, .message.sender-message {
    margin-top: 15px
}

.no-avatar-message.message.recipient-message, .no-avatar-message.message.sender-message {
    margin-top: 2px
}

.recipient-message {
    flex-flow: row;
    /* margin-right: auto; */
    align-self: flex-start;
}

.text {
    align-self: center;
    position: relative;
    padding: 0px 10px;
    border-radius: 5px;
}

.recipient-message .text {
    background: #ffd1dc;
}

.sender-message {
    flex-flow: row-reverse;
    align-self: flex-end;
}

.modal-placeholder-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(55, 55, 55, 0.65);
    z-index: 6;
}

.modal-placeholder {
    display: flex;
    flex-flow: row;
    padding: 30px 15px;
    padding-right: 0px;
    z-index: 7;
    width: 72em;
    height: 90%;
    overflow-y: auto;
    background: #262626;
}

.modal-menu {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    flex-flow: column;
    border-right: 1px solid #373737;
    min-width: max-content;
}

.profile-info-edition {
    max-width: 1300px;
    padding-left: 10px;
    margin: 0 auto;
}

.profile-info-edition span, .profile-info-edition img, .profile-info-edition h1, .profile-info-edition h3 {
    cursor: pointer;
}

.contact-profile {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
}

.logo-settings {
    width: 150px;
}

img.emoji {
    height: 1.7em;
    width: 1.7em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.emoji-icon {
    padding: 5px;
    cursor: pointer;
}

.inline {
    display: inline;
}

.svg-top {
    margin-top: 0;
}

.svg-bottom {
    margin-bottom: 0;
}

.contact-list {
    background-color: #2d2d2d;
    overflow-y: auto;
    flex-grow: 1;
    padding-top: 5px;
}

.logo-contact-list {
    background-color: #2d2d2d;
    padding: 15px;
    text-align: center;
}

.emoji-icon-list {
    height: 300px;
    padding: 0px 55px;
    overflow-y: scroll;
}

.toolbar {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.toolbar img.emoji {
    vertical-align: 0;
    height: 1.4em;
    width: 1.4em;
}

svg.toolbar-action {
    height: 18px;
    cursor: pointer;
    margin: 5px;
}

.svg-no-margin {
    margin: 0;
}

.chat-input-options {
    background: #262626;
    border: 1px solid #b5b7b7;
    color: rgb(238, 238, 238, 0.8);
    border-bottom: none;
    padding: 0px 5px;
    display: flex;
    align-items: center;
}

.chat-input-options svg {
    fill: rgb(238, 238, 238, 0.8);
    stroke: rgb(238, 238, 238, 0.8);
}

.chat-input-options button {
    font-size: 1.2em;
    font-weight: bold;
    background: #262626;
    border: 0;
    padding: 5px;
    cursor: pointer;
}

.chat-input-options svg {
    margin: 0 5px;
}

.chat-input-options input[type=checkbox] {
    appearance: none;
    width: 15px;
    vertical-align: middle;
    height: 15px;
    border: 1px solid #b5b7b7;
    position: relative;
}

.chat-input-options input[type=checkbox]:checked:after {
    content: '\2713 ';
    position: absolute;
    top: -3px;
    left: 1px;
    font-size: 0.7em;
}

.chat-input-area {
    display: flex;
    position: relative;
    flex-direction: row;
}

.chat-input-options label {
    display: inline;
}

.chat-input {
    resize: none;
    width: 100%;
    font-size: 1.2em;
    border: none;
    box-sizing: padding-box;
    cursor: text;
    border-radius: 5px;
    min-height: 50px;
    max-height: 150px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: #2d2d2d;
    padding: 10px;
    padding-right: 53px;
    padding-left: 42px;
    border: 1px solid #b5b7b7;
    border-top: none;
}

.chat-input:focus {
    border: 1px solid #b5b7b7;
    border-top: none;
}

.side .chat-input {
    padding-right: 102px;
}

.chat-input:placeholder-shown {
    font-style: italic;
}

.message-options {
    z-index: 3;
    padding: 10px;
    margin-top: -100%;
    margin-right: -7%;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.message-options label {
    display: inline
}

.message-options a {
    display: block
}

.no-recent {
    padding: 0px 10px;
}

.inline-image {
    display: inline-block;
}

.list-tags, .tag {
    display: inline-block;
    margin: 0 5px;
    font-size: 1.1em;
    margin-bottom: 10px;
    padding: 0px 10px;
    border-radius: 20px;
}

.profile-contact .tag {
    border: 1px solid #b5b7b7
}

.suggestion .tag, .list-tags, .card .tag {
    background: #a6b572;
    color: #1b3a28;
}

.hidden .editor-toolbar {
    display: hidden;
}

#profile-edition-root {
    margin: 0 20px;
}

#profile-edition-root, #settings-edition-root, #karma-leaderboard-root, #help-root {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.settings-edition fieldset {
    padding: 15px;
    padding-top: 0;
}

.settings-edition fieldset div {
    margin: 15px 0;
}

.modal-menu .entry {
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.modal-menu .entry.selected {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #373737;
}

.svg-20 {
    font-size: 1em;
    width: 20px;
    height: 20px;
}

.modal-menu .back {
    color: hsl(145, 80%, 28%);
    margin-bottom: 25px;
    cursor: pointer;
    font-weight: bold;
}

.modal-menu .back svg {
    fill: hsl(145, 80%, 28%);
    vertical-align: middle;
}

.end {
    align-self: flex-end;
}

.message ul {
    list-style-type: disc;
}

.message li {
    display: list-item;
}

.message-content p {
    display: inline-block;
    word-wrap: break-word;
    max-width: 45em;
}

.message p img {
    width: max-content;
    margin: 10px 0;
}

.headline, .profile-edition-headline {
    font-size: 1.20em;
    display: inline-block;
    font-style: italic;
    text-align: center;
}

.send-image {
    display: flex;
    flex-direction: row;
}

.send-image input {
    flex-grow: 1;
}

.contact-options {
    display: flex;
    text-align: right;
    flex-direction: column;
}

input:not(type=button):focus {
    border: 1px solid #b5b7b7 !important
}

.exclamation, .error-message {
    color: red;
}

.exclamation {
    font-size: 1.3em;
    border: 2px solid red;
    border-radius: 100%;
    padding: 2px 10px;
    line-height: 1;
    height: 25px;
    margin-top: 19px;
    font-weight: bold;
}

.avatar-color-1 {
    background-color: #469bc5;
}

.avatar-color-2 {
    background-color: #b9c658;
}

.avatar-color-3 {
    background-color: #c44a7b;
}

.avatar-color-4 {
    background-color: #dac334;
}

.profile-basics {
    width: 45em;
}

.profile-basics, .profile-rest {
    display: flex;
}

.profile-rest {
    margin-top: 30px;
}

.profile-tags {
    text-align: center;
}

.profile-asl, .profile-karma {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-karma {
    font-size: 1.12em;
}

.profile-basics-column {
    margin-left: 40px;
}

.profile-basics-column h1 {
    margin-top: 5px;
    font-size: 1.8em;
    letter-spacing: -0.03em;
    margin-bottom: 15px;
}

.attachment, .send-button {
    position: absolute;
    top: 10px;
    stroke-width: 3;
    z-index: 5;
    background: #2d2d2d;
}

.attachment {
    right: 13px;
    top: 20px;
}

.side .attachment {
    right: 70px;
}

.send-button {
    right: 13px;
}

.chatting-contact {
    background: #373737;
}

.ss {
    display: flex;
    justify-content: space-around;
    /* display: none; */
}

.duller {
    color: rgb(238, 238, 238, 0.8)
}

.user-menu {
    display: none;
    background: #262626;
    padding: 20px 15px;
    border-radius: 3px;
    position: absolute;
    right: 16px;
    top: 42px;
}

.user-menu.visible {
    display: block;
}

.user-menu-item {
    cursor: pointer;
    padding: 10px 0;
    width: max-content;
}

.profile-contact-top .user-menu {
    background: #373737;
    top: 62px;
    z-index: 6;
}

.logout {
    color: hsl(359, 85%, 62%) !important;
    padding-top: 20px;
}

.bold {
    font-weight: bold;
}

.menu-item-heading {
    font-size: 1.1em;
    color: rgb(238, 238, 238);
}

.outer-user-menu {
    position: relative;
}

.invisible {
    visibility: hidden;
}

.settings-karma {
    cursor: pointer;
}

.place-link {
    cursor: pointer;
    color: hsl(145, 80%, 28%);
}

.place-link.selected {
    font-weight: bold;
}

.separator {
    margin: 5px 10px;
    display: inline-block;
}

.unread-messages {
    font-weight: bold;
    text-align: center;
}

.unread-messages .unread-number {
    background: #262626;
    padding: 5px 10px;
    border-radius: 100%;
}

.green-button {
    margin-top: 20px;
    display: block;
    border-radius: 5px;
    color: inherit;
    border: none;
    cursor: pointer;
    padding: 17px;
    background: #1b3a28;
}

select {
    padding: 5px 10px;
    background: #262626;
    color: rgb(238, 238, 238);
    border: 1px solid #b5b7b7;
    border-radius: 3px;
    margin: 5px 0;
}

.center-flex {
    align-self: center;
}

.loading {
    background: url('/client/media/loading.png');
    animation: rotating 2s linear infinite;
    width: 46px;
    height: 44px;
    margin: 15px 0;
}

@keyframes rotating {
    20% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.message-history-wrapper .loading {
    align-self: center;
    margin: 30px 0;
}

.confirmation {
    z-index: 20;
    position: absolute;
    padding: 50px;
    padding-bottom: 10px;
    background: #262626;
    width: 500px;
    height: 120px;
    margin-left: -250px;
    justify-content: center;
    margin-top: -190px;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 15px;
}

.cancel {
    border: none;
    background: transparent;
    margin: 0 10px;
    cursor: pointer;
    color: inherit;
}

.danger {
    background: hsl(359, 82%, 47.6%) !important;
}

.emoji-wrapper {
    background-color: #2d2d2d;
    position: absolute;
    border-radius: 3px;
    color: inherit;
    bottom: 165px;
    margin-right: 20px;
    border-radius: 3px;
    z-index: 5;
    word-wrap: anywhere
}

.emojis {
    position: relative;
    padding: 20px;
    padding-top: 5px;
    max-height: 300px;
    overflow-y: scroll;
    word-wrap: anywhere
}

.emoji-wrapper::before {
    content: "\00a0";
    display: block;
    height: 31px;
    position: absolute;
    width: 30px;
    background-color: #2d2d2d;
    bottom: -13px;
    left: 15px;
    margin-left: -15px;
    transform: rotate(88deg) skew(37deg);
}

.emojis .duller {
    margin: 5px;
    margin-top: 20px;
}

.emojis span {
    font-size: 1.8em;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    font-family: emoji !important;
}

.modal-form {
    position: absolute;
    background: #2d2d2d;
    padding: 20px;
    display: flex;
    color: inherit;
    flex-direction: column;
    z-index: 5;
    border-radius: 3px;
}

.link-form {
    height: 270px;
    bottom: 160px;
    margin-left: 55px;
    padding: 30px 40px;
}

.image-form {
    padding: 60px;
    max-height: 900px;
    left: 20px;
    right: 20px;
    bottom: 165px;
}

.image-form-image {
    align-self: center;
    margin-bottom: 20px;
}

.image-form-image img {
    max-height: 700px;
    max-width: 90%;
}

.image-form::before {
    content: "\00a0";
    display: block;
    height: 31px;
    position: absolute;
    width: 30px;
    background-color: #2d2d2d;
    bottom: -13px;
    right: 15px;
    margin-right: -15px;
    transform: rotate(93deg) skew(-37deg);
}

.link-form::before {
    content: "\00a0";
    display: block;
    height: 31px;
    position: absolute;
    width: 30px;
    background-color: #2d2d2d;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
    transform: rotate( 139deg);
}

.modal-form label {
    margin-bottom: 5px;
}

.modal-form label:nth-of-type(2) {
    margin-top: 20px;
}

.modal-form input[type=text] {
    height: 50px;
    padding: 10px;
    background: #262626;
    border: none
}

.chat {
    display: flex;
}

.chat-combo {
    flex-grow: 1;
}

.image-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.send-image-button {
    fill: rgb(238, 238, 238);
    stroke: rgb(238, 238, 238);
}

.emoji-access {
    position: absolute;
    top: 10px;
    stroke-width: 5;
    left: 5px;
    z-index: 2;
    background: #2d2d2d;
}

.send-enter {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 13px;
    align-items: center;
}

.upload-div {
    margin-bottom: 20px;
}

.modal-input {
    border: #373737 1px solid;
    border-radius: 3px;
    height: 40px;
    padding: 5px;
    width: 500px;
    background: #373737;
}

.fortune {
    background: #262626;
    position: absolute;
    left: 10px;
    right: 10px;
    top: -53px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 3px;
}

.fortune::before {
    content: "\00a0";
    display: block;
    height: 17px;
    position: absolute;
    width: 26px;
    background-color: #262626;
    bottom: -6px;
    left: 50%;
    margin-left: -15px;
    transform: rotate( 135deg);
}

.fortune svg {
    width: 13px;
    height: 13px;
    align-self: center;
}

.relative {
    position: relative;
}

.fortune-deets {
    font-style: italic;
    flex-grow: 1;
    text-align: center;
}

.retry {
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.left-box .retry.invisible {
    display: none;
}

.retry-button {
    color: rgb(238, 238, 238);
    cursor: pointer;
    padding: 5px 15px;
}

.retry-button svg {
    vertical-align: middle;
    margin-left: 5px
}

.retry-modal .retry:not(.invisible)~.loading {
    display: none;
}

.suggestion-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-top-header {
    color: #C4D367;
    text-align: center;
    margin: 15px 0px;
}

.profile-top-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    top:0
}

.suggestion-arrow {
    position: absolute;
}

.show-profile-icon-div {
    display: flex;
    justify-content: center;
}

.suggestion-arrow {
    top: 50%;
    padding: 0;
}

.suggestion-arrow svg {
    background: #2d2d2d;
    border-radius: 100%;
}

.suggestion-arrow:last-child {
    left: 100%;
    top: 50%;
}

.hide-next-arrow .suggestion-arrow:last-of-type, .hide-previous-arrow .suggestion-arrow, .card-sides .suggestion-arrow {
    display: none;
}

.hide-previous-arrow .suggestion-arrow:last-of-type {
    display: block;
}

.cards {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    justify-content: center;
}

.card {
    border: 2px solid #4E4E4E;
    position: relative;
    border-radius: 15px;
}

.card-center {
    border: none;
    z-index: 2;
    background: #262626;
}

.card-sides .suggestion {
    height: 100%;
}

.card-center .suggestion {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-sides {
    overflow: hidden;
}

.card-sides:first-child {
    margin-left: -50%;
}

.card-sides:last-child {
    margin-right: -50%;
}

.profile-description-about {
    display: inline-block;
    font-weight: bold;
    font-size: 1.1em;
}

.strokeless {
    stroke: none;
}

.filless {
    fill: none
}

.suggestion-center {
    display: flex;
    border-radius: 15px;
    background: url('/client/media/suggestions.png');
    position: relative;
    flex-direction: column;
    border: 2px solid #4E4E4E;
    border-bottom: none;
}

.suggestion-center .suggestion.new {
    background: none;
}

.suggestion-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.suggestion-input .svg-32.attachment {
    display: none;
}

.profile-contact-top .headline {
    text-align: left;
}

.contact-profile-tags {
    margin-left: -5px;
}

.tags-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggestion-center .suggestion.new .tags-description {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 5px
}

.description-message {
    padding: 0 5px;
}

.suggestion-center .suggestion.new {
    overflow: auto;
}

.suggestion.old .suggestion-arrow {
    display: none;
}

.margin-less, .margin-less-z {
    margin-left: -20px
}

.margin-less-z {
    z-index: 2;
}

.faded {
    opacity: 0.6;
}

.profile-context {
    align-self: end;
}

.profile-context .user-menu {
    background: #2d2d2d;
}

.suggestion.new {
    padding-top: 11px;
}

#suggestion-context-menu {
    padding-right: 5px;
}

.svg-32 {
    width: 25px;
    height: 25px;
}
.svg-20 {
    width: 12px;
    height: 12px;
}
.svg-50 {
    width: 40px;
    height: 40px;
}
.svg-16 {
    width: 13px;
    height: 13px;
}
.svg-other {
    width: 17px;
    height: 17px;
}

/* dry this shite  */

@media (min-width:1366px) and (max-width:1919px) {
    html, body {
        font-size: max(14.5px, 1vw);
        line-height: 1.41857143;
    }
    .welcome {
        font-size: 1.5em;
    }
    .card-sides {
        margin: 10px 0;
        width: calc(100vw * 0.6398243045387994);
        height: calc(100vh * 0.81640625);
    }
    .profile-description-about {
        margin-top: 16px;
    }
    .card-center, .suggestion-center {
        width: calc(100vw * 0.55344070278184475);
        height: calc(100vh * 0.8450520833333334);
    }
    .suggestion-center .suggestion.new {
        height: 596px;
    }
    .avatar-profile, .avatar-profile-edition {
        width: 68px;
        height: 69px;
    }
    .profile-name {
        margin-top: 9px;
    }
    .headline, .profile-edition-headline {
        margin: 5px 0;
    }
    .profile-karma {
        margin-bottom: 5px;
    }
    .profile-asl {
        max-width: 595px;
        margin-bottom: 16px;
    }
    .suggestion .headline {
        max-width: 483px;
    }
    .profile-tags {
        max-width: 595px;
    }
    .suggestion-arrow .svg-55 {
        width: 38px;
        height: 38px;
    }
    .suggestion-arrow {
        margin-top: -38px;
        left: 10px;
    }
    .suggestion-arrow:last-child {
        margin-left: -48px;
    }
    .description-message, .profile-description, .profile-edition-description {
        width: 595px;
    }
}

@media (min-width:1920px) {
    html, body {
        font-size: 18px;
        line-height: 1.51857143;
    }
    .welcome {
        font-size: 1.7em;
    }
    .profile-contact .avatar-profile, .avatar-contact-list, .avatar-settings, .avatar-message {
        width: 64px;
        height: 64px;
    }
    .avatar-contact-list-div {
        min-width: 64px;
        min-height: 64px;
    }
    .welcome-new {
        font-size: 1.1em;
    }
    .card-sides {
        margin: 46px 0;
        height: calc(100vh * 0.7092592592592592);
        width: 1100px;
    }
    .profile-description-about {
        margin-top: 25px;
    }
    .suggestion-center {
        width: 1040px;
        height: calc(100vh * 0.7944444444444444);
    }
    .suggestion-center .suggestion.new {
        height: calc(100vh * 0.6462962962962962);
    }
    .avatar-profile, .avatar-profile-edition {
        width: 94px;
        height: 91px;
    }
    .profile-name {
        margin-top: 11px;
        letter-spacing: -0.02em;
    }

    .headline, .profile-edition-headline {
        margin: 7px 0;
        font-size: 1.15em;
    }
    .profile-karma {
        margin-bottom: 7px;
    }
    .profile-asl {
        max-width: 872px;
        margin-bottom: 20px;
    }
    .suggestion .headline {
        max-width: 670px;
    }
    .profile-tags {
        max-width: 872px;
    }
    .suggestion-arrow .svg-55 {
        width: 55px;
        height: 55px
    }
    .suggestion-arrow {
        margin-top: -55px;
        left: 10px;
    }
    .suggestion-arrow:last-child {
        margin-left: -65px;
    }
    .description-message, .profile-description, .profile-edition-description {
        width: 872px;
    }
    .contact {
        padding: 10px;
    }
    .svg-back-suggestions {
        margin-right: 28px;
    }
    .contact-profile {
        padding: 5px 15px;
    }
    .settings {
        padding: 10px;
    }
}