body {
    margin: 0;
    font-family: "Verdana", "sans serif";
    font-size: 14.5px;
    line-height: 1.41857143;
    height: 100%;
    color: rgb(238, 238, 238)
}

.profile-description p, .description-message p {
    text-align: justify;
    hyphens: auto;
}

.profile-description ul, .description-message ul, .message ul {
    list-style-type: disc;
}

.profile-description ol, .profile-description ul, .description-message ul, .description-message ol, .message ol, .message ul {
    padding-left: inherit;
}

.profile-description ul li, .description-message ul li, .message ul li {
    display: list-item;
}

.profile-description p:first-of-type, .description-message p:first-of-type {
    margin-top: 0px;
}

.update-im {
    border-bottom: 1px solid #4E4E4E;
}

.notification {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.notification-message {
    padding-left: 15px;
}

.notification-icon {
    height: 30px;
    align-self: center;
}

.profile-description p:last-of-type, .description-message p:last-of-type {
    margin-bottom: 0px;
}

.im {
    display: grid;
    grid-template-columns: 25% 75%;
    overflow-y: auto;
    scrollbar-width: thin;
}

.contact-box {
    scrollbar-width: thin;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.suggestion-box {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #262626;
    position: relative;
}

.suggestion-box-error {
    padding: 10px 0;
    background: #262626;
    font-weight: bold;
    color: red;
    display: none;
    align-items: center;
    justify-content: center;
}

.report-reasons {
    display: flex;
    flex-direction: column;
}

#user-context-menu rect {
    display: none;
}

.show-profile-icon {
    align-self: center;
    width: 10px;
    height: 10px;
    align-self: center;
    margin-bottom: -5px;
}

.flexed {
    display: flex;
}

.contact-list-last-message a, .message-content a {
    text-decoration: underline;
}

.side-suggestions-container {
    background: #2d2d2d;
}

.side-suggestion {
    display: flex;
    justify-content: center;
    background: #213027;
    font-weight: bold;
    padding: 5px 10px;
    align-items: center;
    border-bottom: 1px solid #4E4E4E;
    border-top: 1px solid #4E4E4E;
}

.send-box {
    display: flex;
    flex-flow: column;
    margin: 0px 20px 10px 20px;
    position: relative;
    justify-content: end;
}

.chat-input-area, .chat-input-options {
    position: relative;
    z-index: 2;
}

.svg-8 {
    width: 8px;
    height: 8px;
}

.svg-other {
    stroke-width: 5;
    margin: 0px 5px !important;
    align-self: baseline;
}

.profile-edition-name, .profile-name {
    font-family: Verdana, "sans serif";
    font-size: 1.1em;
    margin: 0;
}

.profile-asl div {
    margin-right: 10px;
}

.profile-asl div:last-child {
    margin-right: 0;
}

.svg-more {
    cursor: pointer;
}

.avatar-message {
    width: 54px;
    height: 54px;
    border-radius: 100%;
}

.no-avatar-message .avatar-message {
    visibility: hidden;
}

.svg-back-suggestions {
    width: 25px;
    height: 25px;
    stroke: none;
    fill: #b9c658;
    margin-right: 15px;
}

.back-side-suggestion {
    padding: 19px 6px;
    cursor: pointer;
    color: #b9c658
}

.back-suggestions {
    font-size: 1.2em;
}

.avatar-contact-list-div {
    min-width: 54px;
    min-height: 54px;
    align-self: center;
}

.avatar-contact-list, .avatar-settings {
    width: 54px;
    height: 54px;
    border-radius: 100%;
}

.avatar-settings, .sender-message .avatar-message, .avatar-profile-edition {
    background: #4d4d51
}

.avatar-profile, .avatar-profile-edition {
    border-radius: 100%;
}

.profile-contact .avatar-profile {
    width: 54px;
    height: 54px;
}

.suggestion.avatar-profile {
    background: #469bc5;
}

.hidden {
    display: none !important;
}

blockquote {
    padding: 2px 10px;
    margin: 0;
    margin-top: 5px;
    border-radius: 5px;
}

.sender-message blockquote {
    border-left: 5px solid hsl(0, 0%, 14.6%);
    background: #373737;
}

.recipient-message blockquote {
    border-left: 5px solid hsl(145, 36.5%, 11.7%);
    background: #1b3a28;
}

.settings, .contact {
    display: flex;
}

.settings {
    background-color: #212120;
    position: relative;
    align-items: center;
    padding: 5px 10px;
    border-bottom: #161616
}

.contact {
    align-items: baseline;
    cursor: pointer;
    padding: 5px 10px
}

.settings-name {
    padding: 5px 15px;
}

.contact-profile {
    padding: 5px 10px 5px 10px;
}

.contact-name {
    font-size: 1.1em;
}

.settings-name {
    margin-right: auto;
}

.karma-number {
    font-weight: bold;
}

.karma-text {
    color: rgb(238, 238, 238, 0.8)
}

.contact-list-last-message {
    font-size: 1.1em;
    overflow-y: hidden;
    max-height: 25px;
    color: rgb(238, 238, 238, 0.8)
}

.contact-name, .contact-list-last-message>*, .chat-input::placeholder, .settings-name {
    white-space: nowrap;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact-list-last-message blockquote {
    margin: 0;
    padding: 0;
}

.message-status {
    font-size: 0.7em;
    text-align: right;
    font-weight: lighter;
}

.contact-list-last-message * {
    font-size: 1em;
}

.profile {
    display: flex;
    text-align: center;
    flex-flow: column wrap;
}

.profile-info, .profile-info-edition {
    display: flex;
    flex-flow: column;
}

.suggestion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggestion.new {
    border-radius: 15px;
    flex-grow: 1;
}

.suggestion.new~.message-history {
    display: none;
}

.svg-back-card, .svg-back-profile {
    stroke: none;
    width: 20px;
    height: 20px;
    fill: #b9c658;
}

#full-profile-context-menu, .svg-back-profile {
    padding: 10px;
}

.suggestion.old {
    background: #373737;
    flex-grow: 1;
    padding: 5px 0px 43px 0px;
    overflow: hidden;
    overflow-y: auto;
}

.suggestion.new .duller {
    color: rgb(238, 238, 238);
}

.suggestion.new .span-info {
    font-weight: bold;
}

.profile-contact {
    background: #373737;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    cursor: pointer;
}

.profile-contact-top {
    display: flex;
    align-items: center;
}

.profile-contact-deets {
    display: flex;
    flex-direction: column;
}

.profile-contact-header {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    flex-grow: 1
}

.profile-unavailable-header {
    display: flex;
    width: 100%;
    padding-left: 30px;
    align-items: baseline;
}

.unavailable-message {
    padding-left: 5px;
}

.profile-contact-header h1 {
    margin: 5px 0px
}

.skip {
    align-self: center;
}

.message-box {
    margin: 20px 0px;
}

.message-content {
    padding: 1 15px;
    position: relative;
    background: #1b3a28;
    border-radius: 5px;
}

.message-content::before {
    content: "\00a0";
    display: block;
    height: 14px;
    position: absolute;
    width: 17px;
    top: 0px;
}

.no-avatar-message .message-content::before {
    display: none;
}

.recipient-message .message-content {
    background-color: #373737;
    margin-left: 20px;
}

.sender-message .message-content {
    background-color: #1b3a28;
    margin-right: 20px;
}

.recipient-message .message-content::before {
    background-color: #373737;
    top: 0px;
    left: -6px;
    transform: rotate( 52deg) skew( -36deg);
}

.sender-message .message-content::before {
    background-color: #1b3a28;
    right: -5px;
    transform: rotate( 0deg) skew( -35deg);
}

.message-history {
    display: flex;
    flex-grow: 1;
    scrollbar-width: thin;
    flex-flow: column;
    overflow-y: auto;
    padding: 10px;
}

.message-history> :first-child {
    margin-top: auto !important;
}

.message-history> :last-child {
    padding-bottom: 10px;
}

.message {
    flex-direction: column;
    display: flex;
    margin: 2px;
}

.message.recipient-message, .message.sender-message {
    margin-top: 15px
}

.no-avatar-message.message.recipient-message, .no-avatar-message.message.sender-message {
    margin-top: 2px
}

.recipient-message {
    flex-flow: row;
    /* margin-right: auto; */
    align-self: flex-start;
}

.text {
    align-self: center;
    position: relative;
    padding: 0px 10px;
    border-radius: 5px;
}

.recipient-message .text {
    background: #ffd1dc;
}

.sender-message {
    flex-flow: row-reverse;
    align-self: flex-end;
}

.modal-placeholder-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(55, 55, 55, 0.65);
    z-index: 6;
}

.modal-menu-mobile {
    display: none;
}

.modal-placeholder {
    display: flex;
    flex-flow: row;
    padding: 30px 15px;
    padding-right: 0px;
    z-index: 7;
    width: 72em;
    height: 90%;
    overflow-y: auto;
    background: #262626;
}

.modal-menu {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    flex-flow: column;
    border-right: 1px solid #373737;
    min-width: max-content;
}

.profile-info-edition {
    max-width: 1300px;
    padding-left: 10px;
    margin: 0 auto;
}

.profile-info-edition span, .profile-info-edition img, .profile-info-edition h1, .profile-info-edition h3 {
    cursor: pointer;
}

.contact-profile {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
}

.logo-settings {
    width: 150px;
}

img.emoji {
    height: 1.7em;
    width: 1.7em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.emoji-icon {
    padding: 5px;
    cursor: pointer;
}

.inline {
    display: inline;
}

.svg-top {
    margin-top: 0;
}

.svg-bottom {
    margin-bottom: 0;
}

.contact-list {
    background-color: #2d2d2d;
    overflow-y: auto;
    flex-grow: 1;
    padding-top: 5px;
    scrollbar-width: thin;
}

.logo-contact-list {
    background-color: #2d2d2d;
    padding: 10px;
    text-align: center;
}

.emoji-icon-list {
    height: 300px;
    padding: 0px 55px;
    overflow-y: scroll;
}

.toolbar {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.toolbar img.emoji {
    vertical-align: 0;
    height: 1.4em;
    width: 1.4em;
}

svg.toolbar-action {
    height: 18px;
    cursor: pointer;
    margin: 5px;
}

.svg-no-margin {
    margin: 0;
}

.chat-input-options {
    background: #262626;
    border: 1px solid #b5b7b7;
    color: rgb(238, 238, 238, 0.8);
    border-bottom: none;
    padding: 5px;
    display: flex;
    align-items: center;
}

.svg-duller, .chat-input-options svg {
    fill: rgb(238, 238, 238, 0.8);
    stroke: rgb(238, 238, 238, 0.8);
}

.chat-input-options button {
    font-weight: bold;
    background: #262626;
    border: 0;
    padding: 5px;
    cursor: pointer;
}

.chat-input-options svg {
    margin: 0 5px;
}

.chat-input-area {
    display: flex;
    position: relative;
    flex-direction: row;
}

.chat-input-options label {
    display: inline;
}

.chat-input-preview, .chat-input {
    border-radius: 5px;
    max-height: 150px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: #2d2d2d;
    padding: 10px 35px;
    border: 1px solid #b5b7b7;
    border-top: none;
}

.chat-input {
    width: 100%;
    resize: none;
    cursor: text;
}

.chat-input:focus {
    border: 1px solid #b5b7b7;
    border-top: none;
    outline: none;
}

.suggestions-call {
    display: none;
}

.chat-input:placeholder-shown {
    font-style: italic;
}

.message-options {
    z-index: 3;
    padding: 10px;
    margin-top: -100%;
    margin-right: -7%;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.message-options label {
    display: inline
}

.message-options a {
    display: block
}

.no-recent {
    padding: 0px 10px;
}

.inline-image {
    display: inline-block;
}

.list-tags, .tag {
    width: max-content;
    display: inline-block;
    margin: 0 5px;
    margin-bottom: 10px;
    padding: 0px 10px;
    border-radius: 20px;
}

.profile-contact .tag {
    border: 1px solid #b5b7b7
}

.suggestion .tag, .list-tags, .card .tag {
    background: #a6b572;
    color: #1b3a28;
}

.hidden .editor-toolbar {
    display: hidden;
}

#profile-edition-root {
    margin: 0 20px;
}

#experiments-root, #profile-edition-root, #settings-edition-root, #karma-leaderboard-root, #help-root, #backer-root {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.settings-edition fieldset {
    padding: 15px;
    padding-top: 0;
}

.settings-edition fieldset div {
    margin: 15px 0;
}

.modal-menu .entry {
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.modal-menu .entry.selected {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #373737;
}

.modal-menu .back {
    color: hsl(145, 80%, 28%);
    margin-bottom: 25px;
    cursor: pointer;
    font-weight: bold;
}

.modal-menu .back svg {
    fill: hsl(145, 80%, 28%);
    stroke: hsl(145, 80%, 28%);
}

.end {
    align-self: flex-end;
}

.message ul {
    list-style-type: disc;
}

.message li {
    display: list-item;
}

#backer-root p {
    max-width: 50em;
    margin: 5px 0;
}

#backer-root strong {
    display: block;
    margin: 15px 0 5px 0;
}

.message-content p {
    display: block;
    word-wrap: break-word;
    max-width: 45em;
    margin: 5px 0px;
}

.message p img {
    width: max-content;
    margin: 10px 0;
}

.headline, .profile-edition-headline {
    font-size: 1.12em;
    display: inline-block;
    font-style: italic;
    text-align: center;
}

.send-image {
    display: flex;
    flex-direction: row;
}

.send-image input {
    flex-grow: 1;
}

.contact-options {
    display: flex;
    font-size: 0.96em;
    align-items: flex-end;
    flex-direction: column;
}

input:not(type=button):focus {
    border: 1px solid #b5b7b7 !important
}

.exclamation, .error-message {
    color: red;
}

.message .error-message, .modal-form .error-message {
    visibility: visible;
    display: block;
}

.avatar-color-1 {
    background-color: #469bc5;
}

.avatar-color-2 {
    background-color: #b9c658;
}

.avatar-color-3 {
    background-color: #c44a7b;
}

.avatar-color-4 {
    background-color: #dac334;
}

.profile-basics {
    width: 45em;
}

.profile-basics, .profile-rest {
    display: flex;
}

.profile-rest {
    margin-top: 30px;
}

.profile-tags {
    text-align: center;
}

.profile-asl, .profile-karma {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-basics-column {
    margin-left: 40px;
}

.profile-basics-column h1 {
    margin-top: 5px;
    font-size: 1.8em;
    letter-spacing: -0.03em;
    margin-bottom: 15px;
}

.attachment-button, .send-button {
    width: 22px;
    height: 22px;
}

.card .attachment-button {
    display: none;
}

.send-button-div {
    padding: 0 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-right-buttons {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    display: flex;
    align-items: center;
    z-index: 5;
    background: #2d2d2d;
}

.chatting-contact {
    background: #373737;
}

.ss {
    display: flex;
    justify-content: space-around;
    /* display: none; */
}

.duller {
    color: rgb(238, 238, 238, 0.8)
}

.user-menu {
    display: none;
    background: #262626;
    padding: 20px 15px;
    border-radius: 3px;
    z-index: 3;
    position: absolute;
    right: 16px;
    top: 42px;
}

.user-menu.visible {
    display: block;
}

.user-menu-item {
    cursor: pointer;
    padding: 10px 0;
    width: max-content;
}

.profile-contact-top .user-menu {
    background: #373737;
    top: 62px;
    z-index: 6;
}

.logout {
    color: hsl(359, 85%, 62%) !important;
    padding-top: 20px;
}

.bold {
    font-weight: bold;
}

.menu-item-heading {
    font-size: 1.1em;
    color: rgb(238, 238, 238);
}

.buttons button {
    font-size: 1em;
}

.outer-user-menu {
    position: relative;
}

.invisible {
    visibility: hidden !important;
}

.settings-karma {
    cursor: pointer;
}

.place-link {
    cursor: pointer;
    color: hsl(145, 80%, 28%);
}

.place-link.selected {
    font-weight: bold;
}

.separator {
    margin: 5px 10px;
    display: inline-block;
}

.unread-messages {
    font-weight: bold;
    text-align: center;
}

.unread-messages .unread-number {
    background: #262626;
    padding: 5px 10px;
    border-radius: 100%;
}

.green-button {
    margin-top: 20px;
    display: block;
    border-radius: 5px;
    color: inherit;
    border: none;
    cursor: pointer;
    padding: 17px;
    background: #1b3a28;
}

select {
    padding: 5px 10px;
    background: #262626;
    color: rgb(238, 238, 238);
    border: 1px solid #b5b7b7;
    border-radius: 3px;
    margin: 5px 0;
}

.center-flex {
    align-self: center;
}

.loading {
    background: url('https://static.melan.chat/file/ourmelon/loading.png');
    animation: rotating 2s linear infinite;
    width: 46px;
    height: 44px;
    margin: 15px 0;
}

@keyframes rotating {
    20% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.report-reasons label {
    display: inline;
}

.reason {
    margin-top: 10px;
}

.message-history .loading {
    align-self: center;
    margin: 30px 0;
}

.report-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.report-comment {
    margin-top: 5px;
}

.report-comment label {
    margin-bottom: 5px;
}

.confirmation {
    z-index: 20;
    position: absolute;
    padding: 50px;
    background: #262626;
    width: 500px;
    height: 120px;
    margin-left: -250px;
    justify-content: center;
    top: 35%;
    left: 50%;
    display: flex;
    flex-direction: column;
}

.confirmation .error-message {
    visibility: visible;
}

.confirmation.report {
    height: auto;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 15px;
}

.cancel {
    border: none;
    background: transparent;
    margin: 0 10px;
    cursor: pointer;
    color: inherit;
    font-size: 1em;
}

.danger {
    background: hsl(359, 82%, 47.6%) !important;
}

.emoji-wrapper {
    background-color: #2d2d2d;
    border-radius: 3px;
    color: inherit;
    border-radius: 3px;
    height: 300px;
    word-wrap: anywhere
}

.emojis {
    position: relative;
    padding: 20px;
    padding-top: 5px;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin;
    word-wrap: anywhere
}

.emojis .duller {
    margin: 5px;
    margin-top: 20px;
}

.emojis span {
    font-size: 1.8em;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    font-family: emoji !important;
}

.modal-form {
    /* position: absolute; */
    background: #2d2d2d;
    padding: 20px;
    display: flex;
    color: inherit;
    flex-direction: column;
    /* z-index: 5; */
    border-radius: 3px;
}

.link-form {
    height: 300px;
    padding: 30px 40px;
}

.image-form {
    padding: 60px;
    max-height: 100vh;
}

.image-form-image {
    align-self: center;
    margin-bottom: 20px;
}

.image-form-image img {
    max-height: 700px;
    max-width: 90%;
}

.card .link-button, .card .preview {
    display: none;
}

.modal-form label {
    margin-bottom: 5px;
}

.modal-form label:nth-of-type(2) {
    margin-top: 20px;
}

.modal-form input[type=text] {
    height: 50px;
    padding: 10px;
    background: #262626;
    border: none
}

.chat {
    display: flex;
}

.chat-combo {
    flex-grow: 1;
}

.image-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.send-image-button {
    fill: rgb(238, 238, 238);
    stroke: rgb(238, 238, 238);
}

.emoji-access-div {
    z-index: 2;
    left: 2px;
    top: 2px;
    bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background: #2d2d2d;
}

.emoji-access {
    width: 21px;
    height: 21px;
    padding: 0 8px;
    stroke-width: 5;
}

.send-enter {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 13px;
    align-items: center;
    font-size: 0.9em
}

.upload-div {
    margin-bottom: 20px;
}

.modal-input {
    border: #373737 1px solid;
    border-radius: 3px;
    height: 40px;
    padding: 5px;
    width: 500px;
    background: #373737;
}

.card-center .suggestion.new .loading {
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

.fortune {
    background: #262626;
    position: absolute;
    left: 10px;
    right: 10px;
    top: -53px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 3px;
}

.fortune::before {
    content: "\00a0";
    display: block;
    height: 17px;
    position: absolute;
    width: 26px;
    background-color: #262626;
    bottom: -6px;
    left: 50%;
    margin-left: -15px;
    transform: rotate( 135deg);
}

.fortune svg {
    width: 13px;
    height: 13px;
    align-self: center;
}

.relative {
    position: relative;
}

.fortune-deets {
    font-style: italic;
    flex-grow: 1;
    text-align: center;
}

.retry {
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.contact-box .retry.invisible {
    display: none;
}

.retry-button {
    color: rgb(238, 238, 238);
    cursor: pointer;
    padding: 5px 15px;
}

.retry-button svg {
    vertical-align: middle;
    margin-left: 5px
}

.retry-modal .retry:not(.invisible)~.loading {
    display: none;
}

.suggestion-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-top-header {
    color: #C4D367;
    text-align: center;
    margin: 15px 0px;
}

.profile-top-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    top: 0
}

.suggestion-arrow {
    position: absolute;
}

.show-profile-icon-div {
    display: flex;
    justify-content: center;
}

.suggestion-arrow {
    top: 50%;
    padding: 0;
}

.suggestion-arrow svg {
    background: #2d2d2d;
    border-radius: 100%;
}

.suggestion-arrow:last-child {
    left: 100%;
}

.card-sides .suggestion-arrow {
    display: none;
}

.cards {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    justify-content: center;
}

.card {
    border: 2px solid #4E4E4E;
    position: relative;
    border-radius: 15px;
}

.card-center {
    border: none;
    z-index: 2;
    background: #262626;
}

.card-sides .suggestion {
    height: 100%;
}

.card-center .suggestion {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-sides {
    overflow: hidden;
}

.card-sides:first-child {
    margin-left: -50%;
}

.card-sides:last-child {
    margin-right: -50%;
}

.profile-description-about {
    display: inline-block;
    font-weight: bold;
}

.strokeless {
    stroke: none;
}

.filless {
    fill: none
}

.suggestion-center {
    display: flex;
    border-radius: 15px;
    position: relative;
    flex-direction: column;
    border: 2px solid #4E4E4E;
    border-bottom: none;
}

.suggestion-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profile-contact-top .headline {
    text-align: left;
}

.contact-profile-tags {
    margin-left: -5px;
}

.tags-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty {
    padding-top: 20px;
}

.suggestion-center .suggestion.new .tags-description {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 5px;
    scrollbar-width: thin;
}

.description-message {
    padding: 0 5px;
}

.suggestion-center .suggestion.new {
    overflow: auto;
}

.suggestion.old .suggestion-arrow {
    display: none;
}

.margin-less, .margin-less-z {
    margin-left: -20px
}

.margin-less-z {
    z-index: 2;
}

.faded {
    opacity: 0.6;
}

.profile-context {
    align-self: flex-end;
}

.profile-context .user-menu {
    background: #2d2d2d;
}

.suggestion.new {
    padding-top: 11px;
}

.card-sides .suggestion.new {
    padding-top: 26px;
}

#suggestion-context-menu {
    padding-right: 5px;
}

.svg-32 {
    width: 25px;
    height: 25px;
}

.svg-20 {
    width: 12px;
    height: 12px;
}

.svg-50 {
    width: 40px;
    height: 40px;
}

.svg-16 {
    width: 13px;
    height: 13px;
}

.svg-other {
    width: 17px;
    height: 17px;
}

.suggestions-button, .tabs, .mobile-profile-header {
    display: none;
}

.avatar-settings {
    cursor: pointer;
}

.svg-55 {
    width: 38px;
    height: 38px;
}

.profile-name, .profile-edition-name {
    margin-top: 11px;
}

.headline, .profile-edition-headline {
    margin: 7px 0;
}

.profile-karma {
    margin-bottom: 7px;
}

.profile-asl {
    margin-bottom: 16px;
}

.profile-description-about, .about {
    margin-top: 16px;
}

.suggestion-arrow {
    margin-top: -38px;
    left: 10px;
}

.imp {
    color: #db5a5d
}

.svg-imp {
    fill: #db5a5d !important
}

.impersonation-warning {
    margin-bottom: 20px;
}

.message-history> :first-child.impersonation-warning-history {
    margin-top: 0 !important;
}

.impersonation-warning-history {
    z-index: 4;
    margin-bottom: auto;
    position: sticky;
    top: 0;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.impersonation-warning-history div {
    border: 1px solid #db5a5d;
    padding: 10px 20px;
    background-color: #262626;
    border-radius: 4px;
}

.suggestion.old.imper {
    background-color: inherit;
}

.exit-impersonation {
    display: flex;
    flex-direction: column;
}

.exit-experiment {
    align-self: flex-end;
    padding: 10px;
}

.welcome {
    font-size: 1.5em;
}

.suggestion-arrow:last-child {
    margin-left: -48px;
}

.svg-back-card {
    display: none;
}

.avatar-profile, .avatar-profile-edition {
    width: 68px;
    height: 69px;
}

.image-form-controls {
    z-index: 2;
    display: flex;
    background: #2d2d2d;
    flex-direction: column;
}

.attachment-button {
    padding-right: 8px;
}

.svg-experiment {
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: 20px;
}

/* dry this shite  */

.suggestion.old~.message-history {
    display: none;
}

@media (max-width:1279px) {
    .im {
        display: flex;
        overflow-x: hidden
    }
    .contact-box.current-mobile-screen {
        min-height: 100%;
        min-width: 100%;
    }
    .contact-box {
        min-width: 0;
        order: 1;
    }
    .suggestion-box.current-mobile-screen {
        order: 0;
        min-width: 100%;
        min-height: 100%;
    }
    .message-history> :first-child {
        margin-top: unset !important;
    }
    .message-history .retry.invisible {
        visibility: unset;
        display: none;
    }
    .suggestion-box-error {
        text-align: center;
    }
    .profile-contact .avatar-profile, .avatar-contact-list, .avatar-message {
        width: 36px;
        height: 36px;
    }
    .contact-options {
        font-weight: lighter;
    }
    .avatar-contact-list-div {
        min-width: 36px;
        min-height: 36px;
    }
    .settings-mobile {
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
    .notification {
        padding-left: 10px;
    }
    .card-sides, .card-top-header, .side-suggestions-container, .logo-contact-list, .fortune, .avatar-settings, .settings-name {
        display: none;
    }
    .mobile-profile-header {
        display: flex;
        padding: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid black;
    }
    .mobile-profile-header .avatar-settings, .mobile-profile-header .settings-name {
        display: block;
    }
    .tabs {
        display: flex;
        justify-content: space-around;
        padding: 5px;
        padding-top: 10px;
        cursor: pointer;
    }
    .avatar-settings {
        width: 43px;
        height: 43px;
        align-self: center;
    }
    .welcome-imp {
        color: #db5a5d
    }
    .settings .user-menu {
        left: 0px;
        top: 40px;
        right: auto;
        padding: 0px;
        padding-bottom: 5px;
    }
    .settings .user-menu .user-menu-item {
        padding: 10px
    }
    .svg-experiment {
        order: 2;
        width: 18px;
        fill: rgb(195, 211, 101);
        height: 18px;
        margin-right: 25px;
    }
    .suggestions-button {
        display: block;
        cursor: pointer;
        order: 3;
    }
    .avatar-profile {
        width: 64px;
        height: 64px;
    }
    #profile-edition-form, .suggestion.new, .suggestion.old {
        padding: 10px 15px;
    }
    .suggestion-cards, .cards, .card, .card-center {
        max-width: 100%;
        flex-grow: 1;
        overflow: hidden;
    }
    .profile-edition-name, .profile-name, .profile-asl {
        text-align: center;
    }
    .suggestion-center .suggestion.new .tags-description {
        padding: 0;
        overflow: unset;
    }
    .suggestion-center {
        height: 100%;
        overflow-y: hidden;
        border: none;
        scrollbar-width: thin;
    }
    .suggestion.new {
        overflow-y: auto;
        flex-grow: 1;
    }
    .svg-back-card {
        display: block
    }
    .profile-context {
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        position: sticky;
        top: 0;
    }
    #suggestion-context-menu {
        padding: 0;
    }
    .send-enter {
        display: none;
    }
    .suggestion-input {
        margin: 5px
    }
    .chat-input, .chat-input:focus {
        border-radius: 3px;
        border-top: 1px solid #b5b7b7;
    }
    .suggestion-input .chat-input {
        min-height: 0;
        max-height: 100px;
        border-radius: 5px;
    }
    .chat-input-options {
        display: none;
    }
    .profile-contact-top .svg-back-card {
        padding-right: 15px;
    }
    .send-box {
        margin: 0;
        padding: 10px;
        padding-bottom: 5px;
    }
    .message-content {
        padding: 1px 10px;
    }
    .message-content p {
        width: 100%;
    }
    .message {
        margin: 0;
        width: 85%;
    }
    .message div {
        max-width: 100%;
    }
    .message.recipient-message, .message.sender-message {
        margin-top: 8px
    }
    .recipient-message .message-content {
        margin-left: 10px;
    }
    .sender-message .message-content {
        margin-right: 10px;
    }
    .message-content::before {
        height: 10px;
        width: 11px;
    }
    .recipient-message .message-content::before {
        transform: rotate( 55deg) skew( -35deg);
    }
    .modal-placeholder {
        height: 100%;
        flex-direction: column;
        width: 100%;
        padding: 0
    }
    .modal-menu {
        display: none;
    }
    #help-root, #karma-leaderboard-root, #settings-edition-root, #profile-edition-root, #backer-root, #experiments-root {
        margin: 0;
        width: 100%;
        overflow-x: hidden;
    }
    .profile-contact-header {
        max-width: 65%;
    }
    .profile-contact-deets {
        margin-left: auto;
    }
    .profile-contact-deets .outer-user-menu {
        margin-right: -10px;
    }
    .chat-experiments, .profile-contact {
        padding: 10px;
    }
    .settings-section {
        flex-direction: column;
    }
    .modal-input {
        width: auto;
    }
    .modal-menu-mobile {
        display: flex;
        padding: 10px
    }
    .modal-menu-mobile .svg-back-card {
        margin-right: 15px;
    }
    .suggestions-call {
        display: flex;
        color: #b9c658;
        min-height: 90%;
        align-items: center;
        padding: 0px 10px;
        justify-content: space-between;
    }
    .suggestions-call-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1.1em
    }
    .welcome-suggestions-call {
        font-size: 1.2em;
        font-weight: 600;
    }
    .suggestions-call .svg-55 {
        width: 30px;
        height: 30px
    }
    .profile-tags, .tags-description {
        max-width: 100%;
    }
    .tag {
        word-break: break-word;
        width: auto;
    }
    .settings .outer-user-menu {
        margin-left: unset;
    }
    .cards {
        min-width: 100%;
    }
    .chat-input {
        padding-left: 39px;
        padding-right: 72px;
    }
    .suggestion-input .chat-input {
        padding-right: 38px;
    }
    .confirmation {
        margin-left: 0;
        width: unset;
        left: 5px;
        right: 5px;
        margin-top: -130px;
        padding: 10px;
    }
    .message-history, .message-history> :last-child {
        padding-bottom: 0px;
    }
    .image-form {
        padding: 10px;
        bottom: 0;
        z-index: 20;
        left: 0;
        right: 0;
        height: 100vh;
        justify-content: flex-end;
        position: absolute;
    }
    .image-form-image {
        margin: 5px;
        position: sticky;
        top: 0;
        margin-bottom: 10px;
        align-self: unset;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .image-form-image img {
        max-width: 90%;
        max-height: 90%;
    }
    .emojis {
        padding: 5px;
        height: 300px;
    }
    #user-context-menu circle {
        display: none;
    }
    #user-context-menu rect {
        display: block;
    }
    .svg-user-menu-context {
        width: 24px;
        height: 24px;
    }
    .svg-suggestion-button {
        width: 25px;
        height: 25px;
    }
    .settings {
        padding: 10px;
    }
    .tab-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9em
    }
}

@media (min-width:1280px) and (max-width:1919px) {
    .back-side-suggestion {
        padding: 14px 6px;
    }
    .card-sides {
        margin: 10px 0;
        width: calc(100vw * 0.6398243045387994);
        height: calc(100vh * 0.81640625);
    }
    .card-center, .suggestion-center {
        width: calc(100vw * 0.55344070278184475);
        height: calc(100vh * 0.8450520833333334);
    }
    .suggestion-center .suggestion.new {
        height: 596px;
    }
    .profile-asl {
        margin-bottom: 16px;
    }
    .suggestion .headline, .profile-edition-headline {
        max-width: 483px;
    }
    .profile-tags {
        max-width: 595px;
    }
    .description-message, .profile-description, .profile-edition-description {
        width: 595px;
    }
    .avatar-settings, .profile-contact .avatar-profile, .avatar-contact-list, .avatar-message {
        width: 44px;
        height: 44px;
    }
    .avatar-contact-list-div {
        min-width: 44px;
        min-height: 44px;
    }
    .side .chat-input {
        padding-right: 85px;
    }
    .chat-input-preview, .chat-input, .suggestion-input .side .chat-input {
        padding: 10px 38px;
    }
}

@media (min-width:1920px) {
    html, body {
        font-size: 18px;
        line-height: 1.51857143;
    }
    .profile-contact .avatar-profile, .avatar-contact-list, .avatar-settings, .avatar-message {
        width: 64px;
        height: 64px;
    }
    .avatar-contact-list-div {
        min-width: 64px;
        min-height: 64px;
    }
    .welcome-new {
        font-size: 1.1em;
    }
    .card-sides {
        margin: 46px 0;
        height: calc(100vh * 0.7092592592592592);
        width: 1100px;
    }
    .profile-description-about, .about {
        margin-top: 25px;
    }
    .suggestion-center {
        width: 1040px;
        height: calc(100vh * 0.7944444444444444);
    }
    .suggestion-center .suggestion.new {
        height: calc(100vh * 0.6462962962962962);
    }
    .avatar-profile, .avatar-profile-edition {
        width: 94px;
        height: 91px;
    }
    .profile-edition-name, .profile-name {
        letter-spacing: -0.02em;
    }
    .profile-asl {
        max-width: 872px;
        margin-bottom: 20px;
    }
    .suggestion .headline, .profile-edition-headline {
        max-width: 670px;
    }
    .profile-tags {
        max-width: 872px;
    }
    .svg-55 {
        width: 50px;
        height: 50px
    }
    .suggestion-arrow {
        margin-top: -50px;
        left: 10px;
    }
    .suggestion-arrow:last-child {
        margin-left: -60px;
    }
    .description-message, .profile-description, .profile-edition-description {
        width: 872px;
    }
    .contact {
        padding: 10px;
    }
    .message-history> :last-child {
        padding-bottom: 20px;
    }
    .svg-back-suggestions {
        margin-right: 28px;
    }
    .contact-profile {
        padding: 5px 15px;
    }
    .settings {
        padding: 10px;
    }
    .svg-20 {
        width: 15px;
        height: 15px;
    }
    .svg-other {
        width: 20px;
        height: 20px;
    }
    .card-top-header {
        margin: 40px 0px;
    }
    .emoji-access {
        width: 28px;
        height: 28px;
    }
    .attachment-button, .send-button {
        width: 32px;
        height: 32px;
    }
    .side .chat-input {
        padding-right: 90px;
    }
    .chat-input-preview, .chat-input, .suggestion-input .side .chat-input {
        padding: 10px 45px;
    }
}

.link-button {
    height: 20px;
    width: 20px;
}