.leaderboard h2 {
    margin: 0;
    margin-bottom: 15px;
}

#karma-leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.privilege-body {
    padding-bottom: 20px;
    display: flex;

}

.name {
    font-size: 1em;
    color: var(--light-color)
}

.privilege-name-description {
    display: flex;
    flex-direction: column;
}

.margin-m {
    margin-left: 20px;
}

.position-number {
    color: var(--light-color);
    padding: 6px;
    border: 1px dashed var(--light-color);
    border-radius: 100%;
    min-width: 33px;
    display: inline-block;
    text-align: center;
    min-height: 30px;
}

.board-position {
    display: flex;
    margin: 15px 0;
    align-items: center;
}

.privilege-description,
.name-karma {
    width: 25em;
}

.privilege-quantity {
    padding-right: 40px;
    align-self: center;
    min-width: 55px;
    color: var(--im-merochat-green)
}

.privilege-quantity svg {
    width: 30px;
    height: 30px;
    stroke: var(--im-merochat-green);
    fill: var(--im-merochat-green);
    cursor: initial;
}

.name-karma {
    padding: 5px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 15px;
    background-color: var(--im-second-background-color);
    display: flex;
}

.user .name::after {
    content: ' (You!)';
    white-space: normal;
}

.avatar-leaderboard-div {
    margin-right: -14px;
}

.avatar-leaderboard {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 15px solid var(--im-second-background-color);
    background: var(--im-second-background-color);
}

.user .name-karma {
    background: var(--im-merochat-green);
}

.user .avatar-leaderboard {
    border-color: var(--im-merochat-green);
    background: var(--im-merochat-green)
}

.center {
    text-align: center;
}

.position {
    flex-grow: 1;
    text-align: right;
    align-self: center;
    padding-right: 15px;
}

@media (max-width:1279px) {
    .avatar-leaderboard {
        width: 64px;
        height: 64px;
    }

    #karma-leaderboard {
        padding: 10px
    }

    .margin-m {
        margin-left: 0;
    }

    .margin-m .center {
        text-align: left;
    }

    .name-karma,
    .privilege-description {
        width: auto;
        flex-grow: 1;
    }

    .name {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        word-wrap: break-word;
        text-overflow: ellipsis;
    }

    .position-number {
        min-width: 23px;
        min-height: 20px;
    }

}