@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

.landing {
      position: relative;
      display: grid;
      grid-template-columns: 100%;
      justify-items: center;
      background-color: var(--baby-powder);
      min-height: 100%;
      color: var(--dark-text-color);
}

/* . {
      width: 100%;
      max-width: 1000px;
} */

svg {
      stroke: none;
      cursor: initial;
}

.menu-merochat {
      display: flex;
      flex-direction: column;
      margin-left:40px
}

.menu {
      display: flex;
      align-self: flex-end;
}

.menu a {
      font-weight: 600;
      margin-left:20px;
      color: var(--dark-text-color);
}

.login-link {
      background-color: var(--merochat-red);
      border-radius: 10px;
      padding: 5px 10px;
      color: var(--baby-powder) !important;
}

.menu a:hover {
      color: var(--merochat-red);
}

.theme-switcher {
      margin-left:20px
}

.merochat {
      margin-top:auto;
}

h1 {
      font-family: var(--heading-font);
}

.name {
      font-size: 4em;
      color: var(--merochat-red);
      margin:0;
      padding: 0;
}

.tagline {
      background-color: var(--merochat-red);
      padding: 0px 15px;
      border-radius: 2px;
      color: var(--baby-powder);
      font-size: 1.5em;
}

.subtagline {
      padding-top:10px;
      font-weight: 600;
      font-size:0.8em;
}

.sign-up {
      background-color: #EFE5DC;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 0px;
      width: 100%;
}

.sign-up-form {
      padding-left: 50px;
      display: flex;
      flex-direction: column;
}