:root {
      --other-heading-color: #42858C;
}

.landing {
      position: relative;
      display: grid;
      grid-template-columns: 100%;
      justify-items: center;
      min-height: 100%;
}

.shadow {
      box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.2);
}

.features {
      margin-top: 50px;
}

.features,
.features-again {
      display: flex;
}

#temporary-user-sign-up {
      margin-top: 10px;
}

.features svg {
      height: 250px;
      width: 250px;
}

.features h1 {
      color: #4BC9AC
}

.feature-blurb {
      display: flex;
      align-items: center;
}

.features .feature-blurb:first-child {
      margin-right: 100px;
}

.feature-blurb-left {
      margin: 0 20px;
}

.sign-up-again {
      margin: 80px 0;
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      background-color: var(--merochat-red);
      color: var(--background-color);
}

.sign-up-again svg {
      width: 150px;
}

.try-it {
      background-color: var(--light-color);
      color: var(--merochat-red);
      border-radius: 10px;
      padding: 7px 180px;
      margin-top: 15px;
      margin-left: 180px;
      font-weight: bold;
      display: inline-block;
}

.logo-name {
      display: flex;
}

.subtagline-again {
      font-size: 1.2em;
}

.tagline-name {
      margin-left: 20px;
}

.green-call {
      color: var(--other-heading-color);
      font-weight: bold;
      font-size: 1.2em;
}

.after-green-call {
      margin-top: 30px;
}

.features-again svg {
      height: 400px;
      width: 400px;
}

.features-again {
      margin-top: 20px;
}

@media (max-width:1279px) {

      .features,
      .feature-blurb,
      .feature-blurb-left,
      .feature-blurb-right {
            text-align: center;
            flex-direction: column;
      }

      .features .feature-blurb:first-child {
            margin-right: 0;
      }

      .sign-up-again svg {
            width: 100px;
      }

      .sign-up-again {
            margin:40px 0;
      }

      .name-again {
            font-size: 2em;
      }

      .try-it {
            padding: 7px 50px;
            margin-left: -11px
      }

      .feature-blurb-left {
            padding: 0 20px;
      }

      .features-again svg {
            width: 250px;
            height: 250px;
      }

      .blurb {
            text-align: center;
      }

      .feature-blurb .feature-blurb-right {
            order: 0;
      }

      .feature-blurb .feature-blurb-left {
            order: 1;
      }

      .features {
            margin-top: 0;
      }

      .features h1 {
            margin-top: 0;
      }

      .feature-blurb {
            margin-bottom: 40px;
      }

      h1 {
            font-size: 1.5em;
      }

      .features svg {
            width: 200px;
            height: 200px;
      }
}

@media (min-width:1300px) {
      .skew-left {
            margin-left: -150px;
      }

      .skew-right {
            margin-right: -200px;
      }
}