@import url('https://fonts.googleapis.com/css?family=Signika');
.landing {
      position: relative;
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;
      color: white;
      min-height: 100%
}

.header {
      top: 0;
      left: 5%;
      right: 5%;
      z-index: 2;
      position: absolute;
      display: flex;
      margin: 40px 0px;
      padding: 0px 10px 20px;
      border-bottom: 3px solid #db5a5d;
      justify-content: space-between;
}

.login-box {
      align-self: center;
}

.login {
      font-weight: 500;
      color: #db5a5d;
}

h2 {
      font-family: Signika;
      margin-bottom: 100px;
}

#headline {
      color: #db5a5d;
      line-height: 1.3;
      font-weight: normal;
      margin: 0;
}

.subheadline {
      line-height: 1.3;
      font-weight: bold;
      margin: 0;
      margin-bottom: 30px;
      color: #b5b7b6
}

.first-points {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
}

.point-column {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
}

.point {
      margin-bottom: 120px;
      text-align: center;
      color: #a6b572;
      font-family: Signika;
}

.point-melon {
      margin-bottom: 30px;
}

.second-point {
      display: flex;
      justify-self: center;
}

.third-points {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
}

.second-green-box {
      margin-bottom: 30px;
      padding-top: 50px;
      font-family: Signika;
      display: flex;
      flex-direction: column;
      background: rgba(28, 58, 41, 0.4);
      text-align: center;
}

.point-2 {
      margin-top: 60px;
      color: #b5b7b6;
}

.form-up-call {
      border-bottom: 3px solid #db5a5d;
      color: #db5a5d;
      margin: 60px 0;
}

#headline {
      font-size: 3em;
}

.subheadline, .form-up label {
      font-size: 1em;
}

@media (max-width:1279px) {
      body {

            font-size: 17px
      }
      .header {
            left: 0%;
            right: 0%;
            margin: 20px 0px;
            border-width: 1px;
      }
      .login {
            font-size: 0.9em;
      }
      .green-area {
            padding: 120px 0px 50px;
            text-align: center;
            align-items: center;
            margin-bottom: 50px;
      }
      .first-points, .third-points {
            flex-direction: column;
      }
      h2 {
            margin-bottom: 50px;
      }
      .point {
            font-size: 1em;
            margin-bottom: 50px;
      }
      .point-2 {
            font-size: 1em;
      }
      .form-up-call {
            font-size: 1.1em;
      }
      .footer-menu li {
            margin: 0 5px
      }
      #headline {
            line-height: 1.1;
            margin-bottom: 10px;
      }
}

@media (min-width:1280px) {
      body {

            font-size: 16px;
      }
      .header {
            left: 1.0%;
            right: 1.0%;
      }
      .green-area {
            padding: 130px 45px 50px;
            margin-bottom: 10px;
      }
      h2 {
            margin-bottom: 90px;
            font-size: 1.4em;
      }
      .point {
            font-size: 1em;
            margin-bottom: 90px;
      }
      .point-2 {
            font-size: 1.2em;
      }
      .form-up-call {
            font-size: 1.8em;
      }
}

@media (min-width:1920px) {
      body {
            font-size: 18px;
      }
      .landing {
            grid-template-columns: 90%;
      }
      #headline {
            font-size: 3.7em;
      }
      .subheadline, .form-up label {
            font-size: 1.2em;
      }
      .form-up input {
            width: 570px;
      }
      h2 {
            font-size: 1.8em;
      }
      .point {
            font-size: 1.2em;
      }
      .point-2 {
            font-size: 1.4em;
      }
      .form-up-call {
            font-size: 2.3em;
      }
      .green-area {
            padding: 170px 50px 70px;
            margin-bottom: 50px;
      }
}
