body {
        background: url('/client/media/landing.png') repeat center;
}

a:hover, input[type=button]:hover {
        color: #ff7b88
}

.landing {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        color: #b5b7b6
}

.header {
        top: 0;
        left: 5%;
        right: 5%;
        z-index: 2;
        position: absolute;
        display: flex;
        margin: 40px 0px;
        padding: 0px 10px 20px;
        border-bottom: 3px solid #db5a5d;
        justify-content: space-between;
}

.login-box {
        align-self: center;
}

.login {
        font-weight: 500;
        color: #db5a5d;
}

.green-area {
        display: flex;
        width: max-content;
        flex-direction: column;
        align-items: center;
        background: rgba(28, 58, 41, 0.5);
        justify-self: center;
        padding: 250px 50px 150px;
        margin-bottom: 100px;
}

#headline {
        color: #db5a5d;
        line-height: 1.3;
        font-weight: normal;
        margin: 0;
}

.subheadline {
        line-height: 1;
        font-weight: bold;
        margin: 0;
        margin-bottom: 30px;
        color: #b5b7b6
}

.sign-up input {
        height: 60px;
        display: block;
        padding: 20px;
        margin: 40px 0;
        font-size: 1.1em;
        border: 1px solid #b5b7b6;
}

.sign-up input[type=button] {
        font-weight: bolder;
        border: none;
        font-size: 1.3em;
        line-height: 1;
        border-radius: 5px;
        outline: none;
        background: #db5a5d;
        color: white;
}

h2 {
        font-family: Signika;
        color: #db5a5d;
        text-align: center;
        margin-bottom: 100px;
}

.first-points {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}

.point-column {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}

.point {
        margin-bottom: 120px;
        text-align: center;
        color: #a6b572;
        font-family: Signika;
}

.point-melon {
        margin-bottom: 30px;
}

.second-point {
        display: flex;
        justify-self: center;
}

.third-points {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}

.second-green-box {
        margin-bottom: 30px;
        padding-top: 50px;
        font-family: Signika;
        display: flex;
        flex-direction: column;
        background: rgba(28, 58, 41, 0.5);
        text-align: center;
}

.point-2 {
        margin-top: 60px;
}

.sign-up-call {
        border-bottom: 3px solid #db5a5d;
        color: #db5a5d;
        margin: 60px 0;
}

@media (max-width:1199px) {
        .header {
                left: 0%;
                right: 0%;
        }
        .login {
                font-size: 1em;
        }
        .green-area {
                padding: 200px 0px 100px;
                text-align: center;
                align-items: center;
                width: 100%;
                margin-bottom: 50px;
        }
        #headline {
                font-size: 3em;
        }
        .subheadline {
                font-size: 1em;
        }
        .sign-up {
                display: flex;
                align-items: center;
                flex-direction: column;
        }
        .sign-up input {
                width: 95%;
                margin:15px 0;
                height: 30px;
        }
        .sign-up input[type=button] {
                font-size: 1em;
                line-height: 0;
        }
        h2 {
                font-size: 1.3em;
                margin-bottom: 50px;
        }
        .first-points, .third-points {
                flex-direction: column;
        }

        .point {
                font-size: 1em;
                margin-bottom: 50px;
        }
        .point-2 {
                font-size: 1em;
        }
        .sign-up-call {
                font-size: 1.1em;
        }

        .footer-menu li {
                margin: 0 5px
        }
}

@media (min-width:1200px) {
        .header {
                left: 1.0%;
                right: 1.0%;
        }
        .login {
                font-size: 1.1em;
        }
        .green-area {
                padding: 250px 35px 150px;
                margin-bottom: 90px;
        }
        #headline {
                font-size: 3.3em;
        }
        .subheadline {
                font-size: 1.1em;
        }
        .sign-up input {
                width: 530px;
                height: 50px;
        }
        .sign-up input[type=button] {
                font-size: 1.1em;
                line-height: 0;
        }
        h2 {
                font-size: 1.6em;
                margin-bottom: 90px;
        }
        .point {
                font-size: 1em;
                margin-bottom: 90px;
        }
        .point-2 {
                font-size: 1.2em;
        }
        .sign-up-call {
                font-size: 1.8em;
        }
}

@media (min-width:1600px) {
        body {
                background: url('/client/media/landing-big.png') no-repeat fixed;
                background-size: cover;
        }

        .landing {
                grid-template-columns: 90%;
        }
        .login {
                font-size: 1.4em;
        }
        #headline {
                font-size: 3.7em;
        }
        .subheadline {
                font-size: 1.2em;
        }
        .sign-up input {
                width: 570px;
        }
        h2 {
                font-size: 1.9em;
        }
        .point {
                font-size: 1.2em;
        }
        .point-2 {
                font-size: 1.4em;
        }
        .sign-up-call {
                font-size: 2.3em;
        }
}