.suggestion.contact {
    padding: 0;
}

.no-cursor {
    cursor: default;
}

.profile-edition-name, .profile-edition-headline, .profile-edition-description {
    border:none;
    resize: none;
    cursor: pointer;
}

.profile-edition-name {
    font-weight: bold;
    text-align: center;
    margin-top:20px;
}

h1.profile-edition-name {
    display: inline-block;
}

.edit {
    margin: 0 10px;
}

textarea.profile-edition-name, textarea.profile-edition-headline {
    margin-bottom:-20px;
}

.edit-description {
    display: flex;
}

.edit-description .edit {
    align-self: center;
}

.suggestion.contact .profile-asl {
    margin-top:20px
}

.profile-info-add {
    font-style: italic;
}

.profile-info-add .edit {
    vertical-align: middle;
    margin:0 15px 0 5px;
}