.suggestion.contact {
    padding: 0;
}

.no-cursor {
    cursor: default;
}

.single-line-input {
    border: none;
    border-bottom: 1px solid #b5b7b7;
    padding-right: 20px;
    margin-top: 20px;
    width: 500px;
}

.profile-edition-description {
    margin-top: 20px;
    resize: none;
    cursor: pointer;
    height: 300px;
    padding: 15px;
    padding-bottom: 35px ;
    border: 1px solid #b5b7b7;
}

.profile-edition-name {
    font-weight: bold;
}

h1.profile-edition-name {
    display: inline-block;
}

.edit {
    margin: 0 10px;
}

.suggestion.contact .profile-asl {
    margin-top: 20px
}

.profile-info-add {
    font-style: italic;
}

.profile-info-add .edit {
    vertical-align: middle;
    margin: 0 15px 0 5px;
}

.save {
    fill: hsl(145, 80%, 28%);
    stroke: hsl(145, 80%, 28%);
    margin-left: -20px
}

.cancel {
    margin-left: 20px;
}

.description-edition, .edition {
    margin: 30px 0;
    text-align: center;
}

.description-edition {
    display: flex;
    flex-direction: column;
}

.save-cancel {
    margin-top: -30px;
    margin-left:0;
    align-self: end;
}

.save-cancel .cancel {
    margin-right: 20px;
    vertical-align: text-top;
}