.suggestion.contact {
    padding: 0;
    cursor: default;
}

.suggestion.contact select {
    margin-top: 20px;
    width: 500px;
}

.suggestion.contact .profile-asl div {
    margin-right: 0;
}

.suggestion.contact input:focus {
    outline: none
}

.profile-edition-description {
    margin-top: 20px;
    resize: none;
    height: 300px;
    padding: 15px;
    padding-bottom: 35px;
    border: 1px solid #b5b7b7;
}

.profile-edition-name {
    font-weight: bold;
    display: inline-block;
}

.edit {
    margin: 0 10px;
}

.italics {
    font-style: italic;
}

.profile-edition-add {
    margin: 0px 5px;
}

.profile-edition-add .edit {
    vertical-align: middle;
    margin: 0 15px 0 5px;
}

.plus, .save {
    fill: hsl(145, 80%, 28%);
    stroke: hsl(145, 80%, 28%);
}

.plus, .save, .profile-edition .cancel {
    vertical-align: middle;
}

.profile-edition .cancel {
    margin-left: 20px;
}

.description-edition, .edition {
    margin: 30px 0;
    text-align: center;
}

.edition {
    display: flex;
    flex-direction: column;
}

.description-edition {
    display: flex;
    flex-direction: column;
}

.save-cancel {
    margin-top: -30px;
    margin-left: 0;
    align-self: flex-end;
    z-index: 2;
}

.save-cancel .profile-edition .cancel {
    margin-right: 20px;
}

.button-save-bottom {
    position: sticky;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.about {
    margin-bottom: 5px;
    text-align: center;
}

.profile-edition-name {
    text-align: center;
}

.profile-edition-add, .profile-description, .about, .profile-edition-name, .profile-edition-headline {
    cursor: pointer;
}

.centered {
    margin-bottom: 20px;
    margin-right: 0 !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    order: -1;
    align-items: center;
}

.save {
    margin-left: -30px
}

select+.save {
    margin-left: 10px
}

.modal-input {
    padding-right: 30px;
    margin-top: 20px;
}

.suggestion.contact .modal-input:focus {
    border: none !important;
}

.profile-edition-add-list {
    margin-top: 20px;
    width: 500px;
    display: flex;
    align-self: center;
}

.list-languages {
    text-decoration: underline;
}

.list-remove {
    visibility: hidden;
    margin: 5px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 0.8em;
    vertical-align: middle;
}

.grow div:hover>.list-remove {
    visibility: visible;
}

.grow {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.plus {
    margin-left: -30px;
}

.plus, .save {
    width: 20px;
    height: 20px
}

.profile-edition .cancel {
    width: 17px;
    height: 17px
}

select+.plus {
    margin-left: 10px
}

.blocky {
    display: inline-block
}

.disabled {
    stroke: rgb(238, 238, 238, 0.5);
    fill: rgb(238, 238, 238, 0.5)
}

.avatar-edition {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.avatar-edition svg {
    margin-bottom: 10px;
}

.value-edition {
    display: flex;
    align-items: center;
}

@media (max-width:1279px) {
    .profile-edition-add-list, .suggestion.contact select {
        width: auto;
    }
}
