.settings-section {
    display: flex;
}

.section-label {
    margin-right: 40px;
}

.settings-section label {
    margin-top: 20px;
    margin-bottom: 5px;
}

.settings-section label:first-child {
    margin-top: 0px;
}

.settings-section .error-message {
    display: block;
    visibility: hidden;
}

.settings-section .green-button {
    margin: 0;
    margin-bottom: 40px;
}

.settings-section .margined {
    margin-top: 20px
}

.error-message {
    visibility: hidden;
    margin-bottom: 10px;
}

.errored .error-message {
    visibility: visible;
}

.errored input {
    color: red;
}

.section-buttons {
    display: flex;
    width: 500px;
}

.section-buttons .success-message, .section-buttons .error-message {
    padding-left: 10px;
}

.section-buttons .success-message {
    font-weight: bold;
}

@media (max-width:1279px) {
    .settings-edition {
        width: 100%;
    }
    .section-label {
        margin-right: 0;
        margin-bottom: 10px
    }
    .settings-section {
        padding: 15px
    }
}