.section-buttons {
    display: flex;
    width: 500px;
}

.section-buttons .success-message,
.section-buttons .error-message {
    padding-left: 10px;
}

.section-buttons .success-message {
    font-weight: bold;
}

#settings-edition .modal-section .error-message {
    visibility: unset;
    display: none;
}

.chat-background-input {
    margin-top: 10px;
    margin-bottom: 20px;
}

.chat-background-save {
    position: sticky;
    bottom: 0;
    background: var(--im-background-color);
    width: 100%;
    padding-top: 20px;
}

#settings-edition .modal-section .errored .error-message {
    display: block;
}

#settings-edition .modal-section input.modal-input {
    margin-bottom: 20px;
}

@media (max-width:1279px) {
    #settings-edition {
        width: 100%;
    }
}