@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Flamenco');
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: "Open sans", "sans serif";
    font-size: 17px;
    line-height: 1.42857143;
    color: #3f414e;
    background: #fff;
    display: grid;
    grid-template-rows: 1fr auto;
}

.content {
    padding: 20px;
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 10% auto 10%;
}

header {
    grid-column: 2;
    align-self: center;
    display: flex;    
    justify-content: space-between
}

main {
    grid-column: 2;
}

footer {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    padding: 10px;
}

label {
    display: block
}

h1, h2, h3, h4 {
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
    font-weight: normal;
    color: green;
}

img {
    max-width: 100%;
}

h1, h2 {
    font-family: "Flamenco";
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.1em;
}

a {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: orange;
}


.logo {
    font-family: "Flamenco";
    font-size: 2.8em;
    font-weight: bold;
}

input{
    border-radius: 3px;
    border: 1px solid #ccc;
} 

input[type="submit"], input[type="button"] {
    border: 1px solid green;
    color: green;
    cursor: pointer;
    background: MintCream;
    
    font-weight: bold;
}

ul {
    -webkit-padding-start: 0;
}

ul li {
    display: inline;
}

i.watermelon, .ul li::after, ul li:first-child::before {
    content: "";
    font-size: 0.5em;
    margin: 0 10px;
    display: inline-flex;
    vertical-align: middle;
}

ul li::after {
    content: "🍉";
    color: red;
}

ul li:hover::after, ul li.selected::after {
    color: orange;
}

ul li:last-child::after {
    content: "";
}

.center-box {
    display: grid;
    grid-gap: 10px;
    justify-items: center;
}

.center-box h1, .center-box h2, .center-box h3, .center-box h4 {
    text-align: center;
    font-weight: bold;
}

.selected a, a:hover, a:focus {
    color: orange;
    
}

textarea:focus, input:focus {
    border: orange 1px solid;
}

.login{
    align-self: center
    }
    
    .login a {    
        font-weight: bold;
        border: 1px solid green;    
        border-radius: 3px;
        padding: 10px 15px;
    }
    
    .login a:hover{    
        border: 1px solid orange;    
    }

.loading{
    display: none;
    z-index: 200;
    position: fixed; 
    top: 0px;
    left: 0px;
    width: 100%;
}

.avatar-header{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.suggestion {
    cursor: pointer;
}

.hidden{
    display: none;
}

.box-action input {
    height: 60px;
    display: block;
    width: 500px;
    padding: 20px;
    font-size: 1.1em;
    border-radius: 5px;
}

.box-action input[type=button]{
    background: #ea042b;
    color: white;
    font-weight:bold;
    border: none;
    outline: none
}

.box-action input[type="text"], .box-action input[type="password"] {
    margin: 15px 0px;
}