@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Flamenco');
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open sans", "sans serif";
    font-size: 17px;
    line-height: 1.42857143;
    color: #3f414e;
    background: #fff;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto
}

.content {
    padding: 50px;
}

footer {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    padding: 10px;
}

.im {
    display: grid;
    grid-template-columns: 20% 80%;
}

svg {
    margin: 0.4em;
    overflow: visible;
    stroke: #3f414e;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}

.svg-32 {
    width: 32px;
    height: 32px;
    font-size: 2em;
}

.svg-50 {
    width: 50px;
    height: 50px;
    font-size: 3em;
}

.svg-64 {
    width: 64px;
    height: 64px;
    font-size: 4em;
}

.svg-more {
    fill: #3f414e;
}

label {
    display: block
}

h1, h2, h3, h4 {
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
    font-weight: normal;
}

img {
    max-width: 100%;
}

h1, h2 {
    font-family: "Flamenco";
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3  {
    font-size: 1.1em;
}

a {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: orange;
}

.logo {
    font-family: "Flamenco";
    font-size: 2.8em;
    font-weight: bold;
}

input {
    font-family: inherit;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type="submit"], input[type="button"] {
    border: 1px solid green;
    color: green;
    cursor: pointer;
    background: MintCream;
    font-weight: bold;
}

ul {
    -webkit-padding-start: 0;
}

ul li {
    display: inline;
}

i.watermelon, .ul li::after, ul li:first-child::before {
    content: "";
    font-size: 0.5em;
    margin: 0 10px;
    display: inline-flex;
    vertical-align: middle;
}

ul li::after {
    content: "🍉";
    color: red;
}

ul li:hover::after, ul li.selected::after {
    color: orange;
}

ul li:last-child::after {
    content: "";
}

.selected a, a:hover, a:focus {
    color: orange;
}

textarea:focus, input:focus {
    border: orange 1px solid;
}

.loading {
    display: none;
    z-index: 200;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.avatar-profile {
    width: 110px;
    height: 110px;
    border-radius: 100%;
}

.hidden {
    display: none !important;
}

.settings, .contact {
    display: flex;
    cursor: pointer;
}

.settings {
    align-items: flex-start;
}

.contact {
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.settings-name {
    padding: 5px 20px;
}

.contact-list-description {
    font-size: 0.9em;
}

.profile {
    display: flex;
    text-align: center;
    flex-flow: column wrap;
}

.profile-info {
    display: flex;
    text-align: center;
    flex-flow: column wrap;
}

.chat-box {
    padding: 10px;
}

.suggestion {
    display: flex;
    justify-content: space-evenly
}

.skip {
    align-self: center;
}

.skip svg {
    stroke: green;
}

.message-box {
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
}

.text-message {
    flex-grow: 2;
    resize: none;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px
}

.message-history {
    padding: 30px;
    display: flex;
    flex-flow: column wrap;
}

.message {
    margin: 5px 100px;
    display: flex;
}

.recipient-message {
    flex-flow: row wrap;
    margin-right: auto;
}

.text {
    align-self: center;
    padding: 10px;
    border-radius: 5px;
}

.recipient-message .text {
    background: lightgoldenrodyellow;
}

.sender-message {
    flex-flow: row-reverse wrap;
    margin-left: auto;
    align-self: flex-end;
}

.sender-message .text {
    background: #dcf8c6;
}

.chatting {
    border-color: orange;
}

.active {
    border: 1px solid green;
}

.content-focus {
    cursor: pointer;
    margin: 0 5px;
}

.content-focus:hover {
    background: green;
    color: white;
}

.editing {
    padding: 10px;
    border: 1px solid green;
}

.editing input {
    margin: 10px;
    padding:10px;
    
}

.editing:not(.inline) input {
    border: none;
    width: 100%;
    text-align: center
}

.editing input:focus{
    outline: none
}
